.author-info {
    margin-bottom : 25px;
    padding-bottom: 25px;
    text-align    : center; 

    @include bp-sm {
        text-align: inherit;
    }

    &__image {
        margin-bottom: 15px;
        
        @include bp-sm {
            margin-bottom: 0;
        }

        @include bp-md {
            max-width   : 215px;
            max-height  : 215px;
            margin-right: auto;
            margin-left : auto;
        }

        img {
            max-width: 500px;
            max-height: 500px;
        }
    }

    &__name {
        margin-bottom: 15px;
    }

    &__title {
        color: $steelblue;
        font-family: $font2;
        margin-bottom: 15px;
        text-transform: capitalize;
    }

    &__email,
    &__phone,
    &__twitter {
        margin-bottom: 15px;
        @include font-size(24px);
    }

    &__email {
        > a {
            text-decoration: underline;
        }
    }

    &__bio {
        padding-top: 60px;
        text-align: initial;

        p:last-child {
            margin-bottom: 0;
        }
    }
}