.authorship {
    margin-top    : 0px;
    margin-bottom : 10px;
    padding-top   : 0px;
    padding-bottom: 10px;
    justify-content: flex-start;
    @include font-size(18px);

    @include bp-sm {
        flex-wrap: nowrap;
    }

    @include bp-xl {
        display: flex;
    }

    &__name {
        font-family: $font2;

        a {
            color: $text1;

            &:hover, &:focus {
                color: $steelblue;
            }
        }
    }

    &__image {
        display      : block;
        max-width    : 80px;
        max-height   : 80px;
        margin-right : 33px;
        margin-bottom: 20px;
        flex         : 0 0 80px;

        img,
        .img-cover {
            display: block;
        }

        img {
            height: auto;
            width: 100%;
        }

        @include bp-sm {
            flex-shrink: 0;
            margin-bottom: 0;
        }
    }

    * {
        &:last-child {
            margin-bottom: 0;
        }
    }
}