// Yoast SEO breadcrumbs. See filters.php for customized output
.breadcrumbs {
    color: white;
    font-family: $font2;
    @include font-size(16px);

    &__link {
        margin-right: 5px;
        color: rgba( $gray, 0.25 );

        &:hover, &:focus {
            opacity: rgba( $gray, .75 );
        }

        // &:last-child {
        //     display: none;
        // }
    }

    [class^="icon-"],
    [class*=" icon-"] {
        &:before {
            color: $red;
            margin-right: 10px;
            display: inline;
            @include font-size(10px);
        }
    }

    // within masthead
    .masthead--background & {
        a {
            color: rgba( white, 0.5 );
    
            &:hover, &:focus {
                color: white;
            }
        }
    }

    // single news posts
    .post &,
    .author & {

        .breadcrumbs__link {
            display: inline;
            color:black;
        }

        @include bp-lg {
            position: absolute;
        }
    }

    .single-tribe_events &,
    .single-resource & {
        .breadcrumbs__link {
            display: inline;
        }
    }
}

.single-journals {
    .breadcrumbs {
        text-transform:uppercase;
        @include font-size(20px);
        margin-bottom:0;

        &__link {
            color: #fff !important;
        }

    }

    
}