// Global button styles
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
a.btn,
.vc_general.vc_btn3 {
	cursor          : pointer;
	display         : inline-block;
	font-family     : $font2;
	padding         : 12px 30px;
	color           : $red;
	background-color: transparent;
	border          : 6px solid $red;
	text-transform  : uppercase;
	border-radius   : 35px;
	transition      : background-color 0.3s ease;
	@include font-size(18px);
	margin-bottom	: 8px;

	&:hover, 
	&:focus {
		color  : white;
		outline: none;
		border : 6px solid $red;
		background-color: $red;
	}

	// Squared
	&.btn--square {
		border-radius: 0;
	}

	// Large
	&.vc_btn3-size-lg,
	&.btn--large {
		width: 100%;
		@include fluid-value(font-size, 20px, 24px);
		
		@include bp-lg {
			width: initial;
			padding-left: 50px;
			padding-right: 50px;
		}
	}

	// Variation: Reverse (for use on colored background)
	&.vc_btn3-style-reverse,
	&.btn--reverse {
		color: white;
		border-color: white;
		background-color: $red;

		&:hover,
		&:focus {
			color: $red;
			background-color: white;
		}
	}

	// Variation: Filled
	&.vc_btn3-style-fill,
	&.btn--fill {
		color: white;
		border-color: $red;
		background-color: $red;

		&:hover,
		&:focus {
			color: $red;
			background-color: white;
		}
	}

	// Dark red
	&.vc_btn3-color-dark-red,
	&.btn--dark-red {
		color: $burntred;
		border-color: $burntred;

		&:hover, 
		&:focus {
			color: white;
			background-color: $burntred;
		}

		// Variation: Reverse (for use on colored background)
		&.vc_btn3-style-reverse {
			color: white;
			border-color: white;
			background-color: $burntred;

			&:hover,
			&:focus {
				color: $burntred;
				background-color: white;
			}
		}

		// Variation: Filled
		&.vc_btn3-style-fill {
			color: white;
			border-color: $burntred;
			background-color: $burntred;

			&:hover,
			&:focus {
				color: $burntred;
				background-color: white;
			}
		}
	}

	// Teal
	&.vc_btn3-color-teal,
	&.btn--teal {
		color: $teal;
		border-color: $teal;

		&:hover, 
		&:focus {
			color: white;
			background-color: $teal;
		}

		// Variation: Reverse (for use on colored background)
		&.vc_btn3-style-reverse {
			color: white;
			border-color: white;
			background-color: $teal;

			&:hover,
			&:focus {
				color: $teal;
				background-color: white;
			}
		}

		// Variation: Filled
		&.vc_btn3-style-fill {
			color: white;
			border-color: $teal;
			background-color: $teal;

			&:hover,
			&:focus {
				color: $teal;
				background-color: white;
			}
		}
	}

	// Light blue
	&.vc_btn3-color-light-blue,
	&.btn--light-blue {
		color: $lightblue;
		border-color: $lightblue;

		&:hover, 
		&:focus {
			color: white;
			background-color: $lightblue;
		}

		// Variation: Reverse (for use on colored background)
		&.vc_btn3-style-reverse {
			color: white;
			border-color: white;
			background-color: $lightblue;

			&:hover,
			&:focus {
				color: $lightblue;
				background-color: white;
			}
		}

		// Variation: Filled
		&.vc_btn3-style-fill {
			color: white;
			border-color: $lightblue;
			background-color: $lightblue;

			&:hover,
			&:focus {
				color: $lightblue;
				background-color: white;
			}
		}
	}

	// Steel blue
	&.vc_btn3-color-steel-gray,
	&.btn--steel-gray {
		color: $steelblue;
		border-color: $steelblue;

		&:hover, 
		&:focus {
			color: white;
			background-color: $steelblue;
		}

		// Variation: Reverse (for use on colored background)
		&.vc_btn3-style-reverse {
			color: white;
			border-color: white;
			background-color: $steelblue;

			&:hover,
			&:focus {
				color: $steelblue;
				background-color: white;
			}
		}

		// Variation: Filled
		&.vc_btn3-style-fill {
			color: white;
			border-color: $steelblue;
			background-color: $steelblue;

			&:hover,
			&:focus {
				color: $steelblue;
				background-color: white;
			}
		}
	}

	// with icon
	&.vc_btn3-icon-right {
		text-align: center;
		
		&:hover {
			.fa, .icon {
				animation: bounceLeft 1.5s infinite;
			}
		}
	}
}