.entry-meta {
    &--event {
        .entry-meta__button {
            @extend .btn;
            text-align: center;
            margin-bottom: 40px;
        }

        .entry-meta__date {
            font-family: $font2;
            margin-bottom: 0;
            line-height: pxtorem(38px);
            @include font-size(30px);
        }

        .entry-meta__time {
            font-family: $font2;
            line-height: pxtorem(38px);
            @include font-size(30px);
        }

        // secondary meta info (venue, date, etc)
        .tribe-events-event-meta.secondary {
            border: none;
            background-color: $warmgray;
            @include font-size(16px);
        }

        .tribe-events-meta-group {
            margin-top: 15px;
            width: auto;

            >a {
                @extend .btn;
                @extend .btn--large;
                @extend .btn--fill;
            }
        }
    }

    .tribe-events-gmap {
        display: block;
        @include font-size(14px);
    }

    .tribe-venue-tel-label,
    .tribe-venue-tel {
        display: inline;
    }



}

.tribe-events-button {
    #tribe-events & {
        @extend .btn;
    }

    #tribe-events .entry-meta & {
        border-radius: 0;
        padding: 2px 10px;
        border-width: 4px;
        text-transform: none;
        letter-spacing: 0;
        @include font-size(16px);

        &:hover,
        &:focus {
            border-width: 4px;
        }
    }
}

.post__navigation {

    .nav-previous,
    .nav-next {
        a {
            position: relative;
            padding-right: 15px;
            display: block;

            svg {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }

    .nav-previous {
        a {
            padding-left: 15px;
            padding-right: 0;

            svg {
                left: 0;
                right: inherit;
            }
        }
    }
}

.post__categories {
    .rssfeed {
        text-decoration: none;

        span {
            border-radius: 30px;
            background-color: #ec5139;
            color: #FFF;
            padding: 6px 10px;
        }
    }
}