// Overrides page builder FAQ element

// FAQ
.vc_toggle.vc_toggle_default {
    margin-bottom: 40px;

    &:hover {
        .vc_toggle_title .vc_toggle_icon {
            background-color: red;
        }
    }

    .vc_toggle_title {
        min-height: 47px;
        padding-left: 45px;

        @include bp-md {
            padding-left: 60px;
        }

        @include bp-lg {
            padding-left: 90px;
        }

        > h4 {
            margin-bottom: 0px;
            display: inline-block;
            @include fluid-value(font-size, 22px, 24px);
	        @include fluid-value(line-height, 28px, 30px);
        }

        .vc_toggle_icon {
            display         : inline-block;
            width           : 37px;
            height          : 37px;
            border-radius   : 50%;
            border          : none;
            margin-left     : 0;
            background-color: $coolgray;
            text-align: center;
            transform: none;
            top: 0;
            transition: background-color 0.3s ease;
            @include font-size(13px);

            &:before {
                content    : "\e906";
                color      : white;
                height     : inherit;
                width      : inherit;
                background : transparent;
                border     : none;
                font-family: $icomoon-font-family;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 40px;
                visibility : visible;
                // transform  : rotate(0deg) translate(0%, 0%); 
                transition: transform 0.3s ease;
            }

            &:after {
                display: none;
            }

            @include bp-md {
                width : 47px;
                height: 47px;
                @include font-size(18px);

                &:before {
                    line-height: 50px;
                }
            }
        }
    }

    .vc_toggle_content {
        padding-left: 60px;

        @include bp-lg {
            padding-left: 90px;
        }
    }

    &.vc_toggle_active {
        .vc_toggle_icon {
            background-color: $red;

            &:before {
                transform: rotate(180deg) translate(50%, 50%);
            }
        }
    }

    .no-js & {
        .vc_toggle_content {
            display: block;
        }
    }
}