.footer {
    color           : $white;
    background-color: $black;
    padding-top     : 40px;
    padding-bottom  : 40px;

    .container-fluid {
        max-width: 1500px;
    }

    @include bp-lg {
        padding-top   : 80px;
        padding-bottom: 80px;
    }

    a {
        color: white;

        &:hover, &:focus {
            color: $teal;
        }
    }

    .nav {
        a {
            text-transform: uppercase;
            @include font-size(20px);
        }
    }

    &__social-proof {
        margin-left: 8px;

        img {
            height: 110px;
            width: auto;
        }
    }

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: none;
        border-bottom: 1px solid $white;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        margin-bottom: 20px;
    }

    .social-links {
        &__link {
            width: 50px;
            height: 50px;

            @include bp-lg {
                width: 30px;
                height: 30px;
            }
        }

        li {
            margin-bottom: 16px;
        }
    }

    &__tweets {
        margin-bottom: 40px;
        text-align: center;

        .icon {
            display: inline-block;

            &::before {
                color: darken( $black, 10% );
                line-height: pxtorem(116px);
                @include font-size(116px);
            }
        }

        .rtw_main,
        .rotatingtweet {
            max-width: 100%;
            z-index: initial !important;
        }

        .rotatingtweet {
            background-color: $steelblue;
        }

        .rotatingtweets {
            max-width: 100%;
            height: 100% !important; // fixes javascript that does not consistenly set height
        }

        .rtw_meta {
            margin-top   : 20px;
            margin-bottom: 0;
            padding-left : 50px;
            min-height   : 36px;
            max-width    : 100%;
            text-align   : left;
            background   : url(../images/twitter-icon.png) no-repeat top left;
            background-size: 36px;
            @include font-size(18px); 
        }

        @include bp-md {
            display: flex;
            text-align: inherit;

            .rotatingtweet {
                padding-left: 30px;
            }
        }

        @include bp-lg {
            margin-bottom: 0;
        }
    }

    &__copyright {
        text-align: center;
        
        p {
            margin-bottom: 0;
            display: inline-block;
            @include font-size(12px);
        }

        @include bp-lg {
            text-align: inherit;
            align-items: flex-end;
        }
    }

    &__legal {
        display: inline-block;

        li {  
            display: inline;        
            margin-left: 10px;
        }

        a {
            font-family: $font2;
            text-transform: none;
            @include font-size(12px);
        }
    }
}

.footer-promo {
    color         : white;
    text-align    : center;
    padding-top   : 60px;
    padding-bottom: 70px;
    background-color: $burntred;

    @include bp-md {
        text-align: inherit;
    }

    .column {
        &:nth-child(2) {
            @include bp-md {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
    }

    &__title {
        color: white;
        margin-bottom: 11px;
        text-transform: uppercase;
    }

    &__copy {
        @include font-size(18px);

        @include bp-md {
            margin-bottom: 0;
        }
    }

    &__btn {
        cursor          : pointer;
        color           : white;
        border          : 6px solid white;
        display         : inline-block;
        font-family     : $font2;
        padding         : 12px 30px;
        background-color: transparent;
        text-transform  : uppercase;
        border-radius   : 40px;
        transition      : background-color 0.3s ease-in;
        @include font-size(24px);

        .icon {
            display    : inline-block;
            margin-left: 20px;
            transform  : translate(0, -50%);

            &:before {
                margin-top: -3px;
                display: inline-block;
            }
        }

        &:hover, &:focus {
            color: $burntred;
            background-color: white;

            .icon {
                animation: bounceLeft 1.5s infinite;
            }
        }

        @include bp-lg {
            float: right;
        }
    }
}
