// Forms
label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    font-family: $font2;
}

input,
textarea,
select {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
    -webkit-appearance: none;

    &:focus {
        border-color: $steelblue;
        outline: none;
        box-shadow: none;
    }
}

input[type="checkbox"],
input[type="radio"] {
    width: initial;

    +label {
        display: inline-block;
    }

    // &:focus {
    // 	outline: 1px solid $highlight;
    // }
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
}

input[type="radio"] {
    -webkit-appearance: radio;
}

select::-ms-expand {
    display: none; // Hides the default dropdown arrow in IE11
}

select {
    width: inherit;
    color: $steelblue;
    padding: 5px;
    border: none;
    appearance: none; // Hides the default dropdown arrow
    padding-right: 30px; // So text doesn't overlap image
    background: url('data: image/svg+xml;utf8,<svg width="14px" height="10px" viewBox="0 0 14 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Designs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="4.0-News" transform="translate(-265.000000, -211.000000)" fill="%23EE5031"> <polygon id="Triangle-2-Copy-10" transform="translate(272.000000, 216.000000) rotate(-270.000000) translate(-272.000000, -216.000000)" points="277 216 267 223 267 209"></polygon> </g> </g> </svg>');
    background-repeat: no-repeat;
    background-position: right 0px center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0;
    @include font-size(24px);
}

input[type="search"],
input[type="submit"],
input[type="button"],
input[type="reset"] {
    cursor: pointer;
    width: auto;
    box-sizing: border-box;
}

.ui-datepicker {
    font-family: $font1;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);

    &-header {
        background-color: $warmgray;
    }
}

// Filters
.filters {
    margin-bottom: 40px;

    select {
        width: 100%;

        @include bp-sm {
            width: inherit;
            min-width: 200px;
            max-width: 200px;
        }

        &.per-page {
            width: auto;
            min-width: 0;
            margin-right: 8px;
            @include font-size(18px);

            +span {
                @include font-size(18px);
            }
        }
    }

    input[type="text"] {
        padding: 16px;
    }

    &__count {
        text-align: left;
        margin-bottom: 0;
        margin-top: 15px;
        font-family: $font2;
        @include font-size(18px);

        @include bp-md {
            text-align: right;
        }
    }

    &--search {
        .row {
            margin-bottom: 15px;
        }

        label {
            @include bp-md {
                text-align: right;
            }
        }
    }

    &--resources {
        .row {
            align-items: center;
        }

        .filters__count {
            text-align: left;

            @include bp-md {
                text-align: right;
            }
        }


        select {
            width: auto;
            min-width: 0;
            max-width: none;

            @include bp-md {
                @include font-size(20px);
            }

            @include bp-xl {
                @include font-size(24px);
            }
        }
    }

    &--jobs {
        .row {
            align-items: center;
        }

        .column {
            margin-bottom: 8px;

            @include bp-md {
                margin-bottom: 0;
            }
        }

        label {
            margin: 0;
            font-family: $font1;
            @include font-size(18px);
        }
    }

    &--insights {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
        margin-bottom: 0;

        @include bp-md {
            transform: translateY(50%);
        }

        .select-wrapper {
            position: relative;
            flex: 0 0 100%;

            @include bp-md {
                flex: 0 0 33.33%;

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: calc(100% - 40px);
                    height: 1px;
                    background-color: #fff;
                    bottom: 20px;
                    left: 20px;
                }
            }
        }

        select {
            width: 100%;
            max-width: unset;
            color: white;
            padding: 20px;
            font-weight: 600;
            border-bottom: none;
            background-color: $red;
            background-image: url('data: image/svg+xml;utf8,<svg width="14px" height="10px" viewBox="0 0 14 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Designs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="4.0-News" transform="translate(-265.000000, -211.000000)" fill="%23FFFFFF"> <polygon id="Triangle-2-Copy-10" transform="translate(272.000000, 216.000000) rotate(-270.000000) translate(-272.000000, -216.000000)" points="277 216 267 223 267 209"></polygon> </g> </g> </svg>');
            background-position: right 20px center;

            @include bp-md {
                margin-bottom: 0;
            }
        }
    }

    .no-js & {
        select {
            display: none;
        }
    }
}

.search-form {
    display: flex;
    justify-content: space-between;

    label {
        flex-grow: 1;
        margin-bottom: 0;
        padding-right: 10px;
    }

    input[type="search"] {
        width: 100%;
        padding: 17px;
        margin-bottom: 0;
    }

    input[type="submit"] {
        width: auto;
    }
}

// Events Calendar Filters
#tribe-bar-form {
    background: transparent;

    &.tribe-bar-full.tribe-events-bar--has-filters #tribe-bar-views {
        float: none;
    }
}

#tribe-events-bar {
    @include bp-lg {
        // display: flex;
        // justify-items: flex-end;
    }

    .tribe-bar-views-inner {
        padding: 0;
        display: flex;
        background-color: transparent;

        @include bp-md {
            padding: 8px 0;
            justify-content: flex-end;
        }
    }

    #tribe-bar-views-label {
        color: $text2;
        font-weight: 400;
        text-transform: none;
        margin-bottom: 0;
        padding-left: 0;
        @include font-size(24px);

        @include bp-lg {
            padding-right: 0;
        }
    }

    #tribe-bar-views-toggle {
        font-family: $font2;
        width: initial;
        padding: 0 30px;
        @include font-size(24px);

        &:after {
            display: none;
        }

        &:hover,
        &:focus {
            background: transparent;
            // color: $text1;

            span[class*="tribe-icon-"]:before,
            span[class^="tribe-icon-"]:before {
                color: $burntred;
            }
        }
    }

    span[class*="tribe-icon-"],
    span[class^="tribe-icon-"] {
        background: transparent;
        font-family: $icomoon-font-family;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        margin-right: 13px;
        padding-left: 0;

        &:before {
            color: $red;
            @include font-size(20px);
        }
    }

    .tribe-icon-list:before {
        content: "\e90f";
        @include font-size(16px);
    }

    .tribe-icon-month:before {
        content: "\e911";
    }

    .tribe-icon-day:before {
        content: "\e910";
    }

    .tribe-bar-views-list {
        width: inherit;
        padding-top: 0;
        left: auto;
        right: 0;

        .tribe-bar-views-option {
            font-family: $font2;
            @include font-size(24px);
        }
    }
}

#tribe-bar-form {
    &.row {
        width: auto;

        &:before {
            display: none; // safari pseudo element fix
        }
    }

    &.tribe-bar-mini {
        select {
            @include font-size(24px);
        }
    }
}

#tribe-bar-views {
    #tribe-bar-form.tribe-bar-collapse & {
        margin-top: 0;
    }
}

// gravity forms
.gform_wrapper {

    // emulate rows
    ul.gform_fields {
        @extend .row;
    }

    .gfield {
        @extend .column;
        flex: 0 0 100%;
        max-width: 100%;

        select {
            padding-top: 12px;
            padding-bottom: 15px;
        }
    }

    input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
        padding: 15px 10px;
    }

    label.gfield_label {
        @extend label;
    }

    .field_sublabel_below .ginput_complex.ginput_container label {
        color: lighten($gray, 10%);
        font-family: $font1;
    }

    .top_label .gfield div.ginput_container {
        margin-top: 3px;
    }

    &.gf_browser_safari .gfield_time_ampm select {
        width: 100%;
    }

    .gform_footer {
        padding: 16px;
    }

    table.gfield_list thead th {
        color: $text1;
        font-weight: 400;
        background-color: transparent;
    }

    table.gfield_list td {
        background-color: transparent;
    }
}

.regional-map {
    &__form {
        @include bp-sm {
            display: flex;

            input[type="submit"] {
                margin-left: 20px;
            }
        }

        input[type="text"] {
            margin-bottom: 0;
        }
    }

    &__results {
        margin-bottom: 40px;

        strong {
            text-transform: capitalize;
        }
    }
}

// Login
#loginform {
    input[type="submit"] {
        color: white;
        border-color: $red;
        background-color: $red;
        line-height: 1;
        font-size: pxtorem(16px);
        text-transform: none;
        padding: 4px 20px;

        &:hover,
        &:focus {
            color: $red;
            background-color: white;
        }
    }

    +p {
        @include font-size(14px);
        line-height: pxtorem(22px);
    }
}

.mo_adjust_customize_button {
    i {
        height: auto !important;
        width: auto !important;

        &:before {
            display: none;
        }

        .mo_oauth_login_button_font {
            margin-left: 16px !important;
            margin-right: 16px;
            font-weight: 500;
        }
    }
}

.mo_adjust_customize_button .mofa {
    display: inline-flex;
    padding: 12px 30px !important;
    border-radius: 35px !important;
    background-color: #EE5031 !important;
    transition: background-color 0.3s ease;
}

.mo_adjust_customize_button .mofa:hover,
.mo_adjust_customize_button .mofa:focus {
    background-color: #D0452A !important;
}

.mo_adjust_customize_button .mofa img {
    display: none !important;
}

.mo_adjust_customize_button .mo_oauth_login_button_font {
    @include font-size(24px);
    font-family: futura-pt-bold, sans-serif;
    text-transform: uppercase;
}