.header {
    position: fixed; // For when JS is not active
    top: 0;
    z-index: 50;
    width: 100%;
    background: white;
    transition: all 0.3s ease;

    @include bp-lg {
        padding-top: 18px;
    }

    a,
    [class^='icon-'] {
        display: block;
        color: $black;

        &:hover,
        &:focus {
            color: $red;
        }
    }

    [class^='icon-'] {
        color: inherit;
    }

    &__inner {
        height: 74px;
        overflow: hidden;
        display: flex;
        align-items: center; // Vertical align all items
        justify-content: space-between;
        transition: height 0.3s ease-in-out;

        @include bp-md {
            padding-left: 15px;
            padding-right: 15px;
        }

        @include bp-lg {
            height: 104px;
            justify-content: flex-end;
        }

        @include bp-xl {
            padding-left: 45px;
            padding-right: 45px;
            align-items: flex-start;
        }
    }

    // Logo
    &__brand {
        display: block;

        svg {
            display: block;
            width: 120px;
            height: 49px;
            margin: 0;
            transition: height 0.3s ease-in-out;

            @include bp-lg {
                width: auto;
                height: 60px;
            }

            @include bp-xl {
                height: 83px;
            }

            .st0 {
                fill: #393F4F;
            }

            .st1 {
                fill: #FFFFFF;
            }

            .st2 {
                opacity: 0.1;
                fill: #393F4F;
            }

            .st3 {
                fill: url(#SVGID_1_);
            }

            .st4 {
                fill: none;
            }

            .st5 {
                fill: #EE5031;
            }

            .st6 {
                fill: #E4E8EF;
            }

            .st7 {
                fill: url(#SVGID_2_);
            }

            .st8 {
                fill: #50ADCD;
            }

            .st9 {
                fill: #50BFC4;
            }

            .st10 {
                fill-opacity: 7.000000e-02;
            }
        }
    }

    // Navigation
    &__navigation {
        display: none;

        // First child dropdown
        .sub-menu {
            display: none;
            position: absolute;
            padding: 15px 0 0;
            margin-left: -17px;
            list-style-type: none;
            z-index: 5;
            background: #fff;
            border-top-color: white;

            li {
                display: block;
            }

            a {
                font-family: $font2;
                padding: 10px 0px;

                &:hover,
                &:focus {
                    color: $red;
                }

                [class*='icon-'],
                [class^='icon-'] {
                    &:before {
                        color: $red;
                        margin-left: 3px;
                    }
                }

                strong {
                    font-weight: 400;
                    font-family: $font1;
                }
            }
        }

        .menu-item:hover .sub-menu {
            display: block;
        }

        li {
            list-style: none;
            display: inline-block;
        }

        @include bp-lg {
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
            align-content: center;
        }
    }

    // Search
    &__search {
        display: none;
        background-color: $burntred;

        &>div {
            display: flex;
            align-items: center;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    &__search-button {
        transition: margin-left 0.2s ease, transform 0.3s ease;
        margin-left: 10px;

        @include bp-xl {
            margin-left: 0px;
        }

        &:before {
            color: $red;
            line-height: 3;
            @include font-size(18px);
        }
    }

    // Search form
    &__search-form {
        flex-grow: 1;

        input[type='text'] {
            font-family: $font2;
            width: 100%;
            margin: 0;
            border: none;
            color: #fff;
            background-color: transparent;
            transition: all ease 0.3s;
            @include font-size(44px);

            &:focus {
                outline: none;
            }

            &::-webkit-input-placeholder {
                color: rgba(#fff, 0.9);
            }

            &:-ms-input-placeholder {
                color: rgba(#fff, 0.9);
            }

            &::placeholder {
                color: rgba(#fff, 0.9);
            }
        }
    }

    // Search close button
    &__search-close {
        display: inline-block;
        cursor: pointer;

        &:before {
            color: rgba(white, 0.75);
            @include font-size(24px);
        }

        &:hover,
        &:focus {
            &:before {
                color: white;
            }
        }
    }

    // javascript disabled
    .no-js & {
        position: absolute;
    }

    // No Masthead or Scroll-triggered
    .no-masthead &,
    .scroll-triggered & {
        background-color: #fff;

        @include bp-lg {
            padding-top: 4px;
            padding-bottom: 18px;
        }

        .header__inner {
            padding-bottom: 0;
            overflow: visible;
            transition: height 0.3s ease;

            @include bp-lg {
                height: 60px;
            }
        }

        .header__menu {
            // transform: translateY(-21px);

            .sub-menu {
                border-top: 1px solid white;
            }
        }

        .header__brand {
            svg {
                @include bp-lg {
                    height: 60px;
                }
            }
        }

        .header__quicklinks {
            transform: translateY(-100%);
        }

        .header__search-button {
            padding-top: 2px;
            line-height: pxtorem(50px);
            // transform: translateY(-22px);

            &:before {
                line-height: pxtorem(54px);
            }
        }
    }
}