.in-this-issue-content {
    padding:30px;
    background-color: $warmgray;

    @include bp-md {
        padding:60px;
    }
    

    &__heading {
        margin-bottom : 30px;
        text-transform: uppercase;
    }
    &__description{
        @include font-size(30px);
        line-height:2.2rem;
        font-weight: 200;
    }

    img {
        border-radius: 50%;
    }
    p.h2 {
        @include font-size(44px);
        text-transform: lowercase;
        margin-bottom: 10px;
    }

    .md-40 {
        padding-right: 50px;
        position: relative;
        &:before {
            position:absolute;
            right: 10px;
            top: 20px;
            
            content: "";
            z-index: 10;

            width: 0; 
              height: 0; 
              border-top: 15px solid transparent;
              border-bottom: 15px solid transparent; 
              
              border-left:15px solid #55bfc3; 
        }
    }


}

.list-item--inthisissue{
    margin-bottom:60px;

    .heading {
        &--inthisissue {
            text-transform:uppercase;
            font-weight:bold;

        }
    }
    .title {
        &--inthisissue{
            text-transform:none;
            font-weight:bold;
            @include font-size(30px);
        }
    }

    p, h6 {
        margin-bottom:5px;
    }
}
