.list-wrap {
    article.column {
        display: flex;
    }

    &--resources {
        margin-top: 60px;
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: $warmgray;
    }

    &--posts {
        .author & {
            margin-top: 60px;
        }
    }

    &--users {
        margin-top: 45px;
    }
}

.list-item {
    display: flex;
    position: relative;
    flex-grow: 1;
    margin-bottom: 30px;
    padding-bottom: 27px;
    overflow: hidden;
    background-color: white;

    &:last-child {
        margin-bottom: 30px;
    }

    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 12px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $teal;
        transition: width 0.2s ease-in;
    }

    &:hover,
    &:focus {
        &:after {
            // width: 70%;
            animation: border 1s;
        }
    }

    &__title {
        transition: color 0.3s ease-in;
    }

    &__label {
        color: white;
        font-family: $font2;
        text-transform: uppercase;
        border-radius: 12px;
        padding: 0 12px;
        display: inline-block;
        line-height: pxtorem(24px);
        background-color: $gray;
        @include font-size(12px);
    }

    &__link {
        color: $black;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        max-width: 100%;

        &:hover,
        &:focus {
            color: $red;

            .list-item__image {
                img {
                    transform: scale(1) translate(-50%, -50%);
                }
            }
        }
    }

    &__type {
        color: $red;
        margin-bottom: 12px;
        @include font-size(20px);
    }

    &__image {
        flex: 0 0 100%;
        flex-grow: 1;
        margin-bottom: 20px;

        img {
            transition: transform 0.5s ease;
            transform: scale(1.05) translate(-50%, -50%);
        }

        .img-cover:before {
            padding-top: 67%;
        }
    }

    &__content {
        flex: 0 0 100%;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-between;
        max-width: 100%;
    }

    &__meta {
        color: darken($coolgray, 20%);
        @include font-size(16px);

        p {
            margin-bottom: 0;
        }

        @include bp-lg {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }

    &__date {
        margin-right: 12px;
    }

    &__author {
        display: flex;
        align-items: center;
        justify-content: center;

        @include bp-sm {
            justify-content: unset;
        }

        img {
            margin-right: 12px;

            @include bp-xl {
                margin-left: 45px;
            }
        }
    }

    // posts
    &--post {
        display: block;

        .list-item__link {
            height: 100%;
            flex-direction: column;
            justify-content: space-between;

            &:hover,
            &:focus {
                color: $red;
            }
        }

        .list-item__image {
            flex: 0 1 auto;
            min-width: 100%;
            margin-bottom: 0;

            .img-cover {
                margin-bottom: 20px;
            }
        }

        .list-item__label {
            background-color: $red;
        }

        .list-item__content {
            flex: 0 1 auto;
            flex-grow: 1;
            justify-content: space-between;
        }

        &:after {
            display: none;
            background-color: $red;
        }
    }

    // resource
    &--resource {
        display: block;
        min-height: 400px;

        .list-item__link {
            padding-top: 30px;
            height: 100%;

            @include bp-md {
                flex-direction: column;
                justify-content: space-between;
                flex-wrap: nowrap;
            }
        }

        &.list-item--featured-image {
            .list-item__link {
                padding-top: 0;
            }
        }

        .list-item__image {
            flex: auto;
            flex-grow: unset;
            width: 100%;
            overflow: hidden;

            img {
                min-width: 100%;
            }
        }

        .list-item__content {
            flex: auto;
            max-width: 100%;
            padding-left: 30px;
            padding-right: 30px;
            flex-direction: row;
            align-content: flex-start;
        }

        .list-item__type {
            color: $teal;
            font-family: $font2;
            text-transform: uppercase;
            margin-bottom: 0;
            @include font-size(17px);
        }

        .list-item__access {
            color: $red;
            margin-bottom: 0;
            padding: 0 30px;
        }

        .list-item__title {
            // flex: 0 0 100%;

            @include bp-md {
                flex: unset;
            }
        }

        .list-item__label {
            background-color: $teal;
        }

        &:after {
            background-color: $teal;
        }
    }

    // Related resource override
    &.list-item--resource:not(.list-item--related) {
        .list-item__image {
            @include aspect-ratio(4,3);
        }
    }

    // locked resources
    &--locked {
        &:after {
            background-color: $red;
        }
    }

    // journals - insights 
    &--journals, &--insights {
        display:block;
        position:relative;
        &:last-child {
            margin-bottom:0;
        }
        &:after {
            display:none;
        }
        .list-item__content {
            position: relative;
            margin-top: -75px;
            max-width: 80%;
            background:white;
            padding:20px;

            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 12px;
                position: absolute;
                top: -12px;
                left: 0;
                background-color: $teal;
                transition: width 0.2s ease-in;
            }

            &:hover,
            &:focus {
                &:after {
                    // width: 70%;
                    animation: border 1s;
                }
            }

            .list-item__title {
                @include fluid-value(font-size, 20px, 24px);
                line-height:1.15em;
            }

            .list-item__type{
                   color: #EE5031;
                   margin-bottom: 0;
                   font-size: 17px;
                   text-transform: uppercase;
            }

        }
        .list-item__image {
            img {
                transition: transform 0.5s ease;
                transform: scale(1.2) translate(-50%, -50%);
            }
        }
        .list-item__link {
            &:hover {
                .list-item__image {
                    img {
                        transform: scale(1.1) translate(-50%, -50%);
                    }
                }
            }
        }
        .list-item__content.no-image {
            margin-top:0;
        }
    }

    &--restricted {
        .list-item__content {
            &:after {
                background-color: $red;
            }
        }
        .list-item__members {
            color:$red;
        }
    }

    // principles
    &--principle {
        min-height: 400px;
        padding-top: 30px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        &.list-item--featured-image {
            padding-top: 0;
        }

        .list-item__image {
            width: 100%;
            max-height: 260px;
            overflow: hidden;
            flex: unset;

            img {
                width: 100%;
                height: auto;
            }
        }

        .list-item__content {
            flex: unset;
            padding-left: 30px;
            padding-right: 30px;
        }

        .list-item__title {
            word-break: initial;
            margin-bottom: 25px;
        }

        .list-item__type {
            color: $teal;
            margin-bottom: 0;
            margin-top: auto;
            padding-left: 30px;
            padding-right: 30px;
        }

        .list-item__locked {
            color: $red;
            padding-left: 30px;
            line-height: pxtorem(18px);
            @include font-size(14px);

            @include bp-sm {
                position: absolute;
                right: 30px;
                bottom: 30px;
                padding-left: 0;
            }
        }
    }

    &--featured-image {
        .list-item__title {
            @extend .h4;
        }
    }

    // users
    &--user {
        color: $black;

        &:after {
            display: none;
        }

        .list-item__link {
            display: block;
            word-break: break-word;

            &:hover,
            &:focus {
                color: $burntred;
            }
        }

        .list-item__image {
            width: auto;
            max-width: 50%;
            margin-left: auto;
            margin-right: auto;

            @include bp-sm {
                max-width: none;
            }

            @include bp-lg {
                width: 155px;
                height: 155px;
            }

            @include bp-xl {
                width: 214px;
                height: 214px;
            }
        }

        .list-item__content {
            text-align: center;
            justify-content: flex-start;

            @include bp-sm {
                text-align: left;
            }
        }

        .list-item__meta {
            display: block;
            color: $black;
            margin-bottom: 25px;
            @include font-size(18px);
        }

        .list-item__title {
            margin-bottom: 0;
        }

        .list-item__image {
            img {
                transform: scale(1) translate(-50%, -50%);
            }
        }
    }

    // events
    // for events listed on the main Events calendar page, see list-item--event.scss
    &--event,
    &--tribe_events {
        .list-item__label {
            background-color: $lightblue;
        }

        &:after {
            background-color: $lightblue;
        }
    }

    &--search {
        display: flex;
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid $stroke;

        a {
            color: $text2;

            &:hover,
            &:focus {
                color: $red;
            }
        }

        .list-item__content {
            margin-top: 15px;
        }
    }

    &--job {
        border-bottom: 1px solid rgba( $gray, 0.5 );

        &:last-child {
            border-bottom: 0;
        }

        .list-item__title {
            font-family: $font1;
            margin-bottom: 10px;
        }

        .list-item__location {
            font-family: $font2;
            margin-bottom: 8px;
        }

        p:last-child {
            margin-bottom: 0;
        }

        .btn {
            display: block;
            text-align: center;
        }

        &:after {
            display: none;
        }
    }

    &--board {
        .list-item__name {
            margin-bottom: 12px;
        }

        .list-item__image {
            @include bp-xl {
                width: 176px;
                height: 176px;
            }
        }
    }

    .list-wrap--resources & {
        .list-item {
            &__label {
                display: none;
            }

            &__meta {
                font-family: $font2;
            }
        }
    }
}

.featured-news {
    .column {
        display: flex;
    }

    .lg-33 {
        @include bp-lg {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}

.featured-resource,
.featured-event {
    margin-bottom: 50px;

    &__meta {
        color: $teal;
        font-family: $font2;
        text-transform: uppercase;
        @include font-size(20px);
    }

    &__title {
        a {
            color: $black;

            &:hover,
            &:focus {
                color: $red;
            }
        }
    }
}

.featured-event {
    &__meta {
        color: $lightblue;
    }

    &__title {
        &:hover,
        &:focus {
            color: $lightblue;
        }
    }
}

// Featured resources slider
.featured-resources {
    .slick-dots {
        padding: 0;
        text-align: center;
    }
}
.weekly-read, .top-news-article {
    .list-item__meta {
        display: none;
    }
}
.page.insights {
    .featured-news {
        h3.list-item__title {
            @include font-size(40px);
            line-height: 1em;
        }
        .list-item__subtitle{
            @include font-size(24px);
            line-height: 1.2em;
            color:#656e80;
        }
    }

}
.post-type-archive-journals {
    .list-item__image .img-cover:before {
        padding-top:107%;
    }
}
