:root {
    --tec-font-family-sans-serif: $font1;
    --tec-color-icon-active: $red;
    --tec-color-icon-primary: $red;
    --tec-color-text-primary: $gray;
    --tec-font-size-4: font-size(20px);
    --tec-line-height-2: pxtorem(34px);
    --tec-color-text-events-title: $steelblue;
}

// The Events Calendar
.tribe-common {
    p {
        margin-bottom: pxtorem(25px);
    }

    .tribe-common-h5, 
    .tribe-common-h6 {
        font-family: $font2;
    }

    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h6, .h6 {
        color: $black;
    	font-family: $font2;
    }

    .tribe-events-header__breadcrumbs,
    &.tribe-events-view--list .tribe-events-c-subscribe-dropdown {
        @extend .screen-reader-text;
    }

    .tribe-events-calendar-list__event-title {
        a {
            border: none;
            color: $text2;
            transition: color 0.3s ease;

            &:hover, &:focus {
                color: $red;
                border: none;
            }
        }
    }

    .tribe-events-c-subscribe-dropdown {
        &__container {
            width: auto !important;
        }

        .tribe-events-c-subscribe-dropdown__button {
            width: auto;
            color           : $red;
            border-radius   : 35px;
            border          : 6px solid $red;
            @include font-size(18px);

            &:hover, &:focus, &:focus-within {
                border : 6px solid $red;
                background-color: $red;
            }

            button {
                &:hover, &:focus {
                    border: none;
                }
            }
        }
    }

    button.tribe-events-c-subscribe-dropdown__button-text {
        font-family: $font2;
        text-transform: none;
    }
}

.tribe-common--breakpoint-medium.tribe-events {
    .tribe-events-calendar-list__event-details {
        width: 100%;
    }

    ul.tribe-events-c-top-bar__nav-list {
        margin-top: 0;
    }

    .tribe-events-c-events-bar {
        align-items: center;
    }

    button.tribe-events-c-view-selector__button {
        &:hover, &:focus {
                border: none;
                color: $red;
            }
    }

    .tribe-events-c-events-bar__views {
        margin-left: 18px;
    }

    .tribe-events-c-view-selector__button--active {
        &:before {
            display: none;
        }
    }

    .tribe-events-c-top-bar__datepicker {
        button.tribe-common-h3 {
            font-family: $font2;
            @include fluid-value(font-size, 20px, 20px);
    	    @include fluid-value(line-height, 20px, 24px);

            &:hover, &:focus {
                border: none;
                color: $red;
            }
        }
    }

    ul.tribe-events-c-view-selector__list {
        margin-top: 0;
    }

    .tribe-events-c-view-selector__list-item {
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .tribe-events-c-view-selector__list-item-link {
        padding: 0 8px;
    }

    .tribe-events-c-view-selector__list-item-text {
        @include fluid-value(font-size, 22px, 24px);
	    @include fluid-value(line-height, 28px, 30px);
    }

    .tribe-events-c-nav__prev,
    .tribe-events-c-nav__next {
        @extend .btn;
        display: inline-flex !important;
        align-items: center;
        justify-content: center;

        &:disabled {
            &:hover, &:focus {
                border: none;
            }
        }

        &:hover, &:focus {
            path {
                fill: white !important;
            }
        }
    }
}

.tribe-events-calendar-list__month-separator {
    @extend .screen-reader-text;
}

// list wrap
#tribe-events-content-wrapper {
    padding-bottom: 60px;

    .tribe-events-list {
        @include bp-md {
            // padding-top: 60px;
        }
    }
}

.list-item-event {
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .column {
        padding-left: 15px;
        padding-right: 15px;
    }

    &.type-tribe_events {
        border-top: 1px solid rgba( $steelblue, 0.5 );
        margin: 0;
        padding: 2.25em 0;
    }

    &.type-tribe_events.tribe-events-first {
        padding-top: 2.25em;
        border-top : 1px solid rgba( $steelblue, 0.5 );
    }

    &.type-tribe_events.tribe-events-last {
        border-bottom: 1px solid rgba( $steelblue, 0.5 );
    }

    &__content {
        margin-bottom: 15px;

        @include bp-md {
            margin-bottom: 0;
        }
    }

    &__meta {
        color: $text2;
        @include font-size(16px);

        @include bp-md {
            > *:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__categories {
        @include font-size(20px);
        margin-bottom: pxtorem(25px);

        a {
            color: $steelblue;
            
            &:hover, &:focus {
                color: $red;
            }
        }
    }

    &__schedule,
    .tribe-events-calendar-list__event-datetime {
        color: $text2;
        @include font-size(16px);
        text-transform: uppercase;
    }

    &__members {
        margin-top: 25px;
    }

    &__description {
        > *:last-child {
            margin-bottom: 0;
        }
    }


    // extraneous events calendar classes
    .tribe-events-gmap {
        display: block;
    }

    .tribe-event-url {
        color: $text2;

        &:hover, &:focus {
            color: $lightblue;
            color: $red;
        }
    }

    .tribe-events-loop & {
        .tribe-events-event-image {
            width: auto;
            float: none;
            margin: 0;
        }
    }

    .tribe-events-calendar-list__event-header {
        margin-bottom: pxtorem(25px);
        
        + .tribe-events-calendar-list__event-description {
            margin: 0 !important;
        }
    }
}

.tribe-events-notices {
    color        : $text1;
    border       : none;
    border-radius:  0;
    background-color: $warmgray;

    > ul:not(.list-inline):not(.list-unstyled) {
        margin-top: 0;
    }
}

#tribe-events-footer {
    margin-top: 60px;

    &::before, &::after {
        display: none;
    }
    
    .tribe-events-pagination {
        text-align: center;

        a {
            @extend .btn;

            span {
                display: inline-block;
                content: '';
                position: static;

                &:before {
                    @include font-size(14px);
                }
            }

            &[rel="prev"] {
                &:hover {
                    .icon {
                        animation: bounceLeftArrow 1.5s infinite;
                    }
                }
            }

            &[rel="next"] {
                &:hover {
                    .icon {
                        animation: bounceRightArrow 1.5s infinite;
                    }
                }
            }
        }
    }
}

.single-tribe_events .tribe-events-venue-map {
    width: 100%;
    margin: 0;
}

#tribe-events-content {
    > a.tribe-events-ical.tribe-events-button {
        float: right;
        height        : initial;
        line-height   : initial;
        display       : inline-block;
        border-radius : 0;
        padding       : 2px 20px;
        border-width  : 4px;
        text-transform: none;
        letter-spacing: 0;
        @include font-size(16px);

        &:hover, &:focus {
            border-width: 4px;
        }
    }

    .tribe-events-calendar div[id*=tribe-events-event-] h3.tribe-events-month-event-title {
        font-family: $font1;
        @include font-size(16px);
    }
}