.header {

    // Menu
    &__menu {
        margin: 0;
        padding: 15px 0;
        transition: transform 0.3s ease-in-out;

        a {
            font-family: $font2;
            padding: 0px;
            @include font-size(18px);

            &:hover,
            &:focus {
                color: $red;
            }
        }

        .menu-item {
            @include bp-lg {
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 0;
            }

            @include bp-xl {
                a {
                    @include font-size(20px);
                }
            }

            @include bp-xx {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        >.menu-item {

            &.current-menu-item,
            &.current-page-ancestor {
                >a {
                    color: $red;
                }
            }

            &.menu-item-has-children {
                >a:after {
                    content: $icon-arrow-down;
                    font-family: $icomoon-font-family;
                    display: inline;
                    margin-left: 8px;
                    font-size: 7px;
                    vertical-align: middle;
                }
            }

            // mega menu
            &:first-child {
                >.sub-menu {
                    @include bp-lg {
                        width: 100%;
                        left: 50%;
                        max-width: 1500px;
                        margin-left: 0;
                        padding: 40px 0px;
                        transform: translateX(-50%);

                        &:before,
                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100vw;
                            height: 100%;
                            z-index: -1;
                            background-color: white;
                        }

                        &::after {
                            left: auto;
                            right: 0;
                        }
                    }

                    >.menu-item {
                        >a {
                            max-width: 25%;
                        }
                    }

                    .menu-item {
                        display: flex;
                        align-items: center;
                    }

                    .sub-menu {
                        position: static;
                        margin: 0;
                        padding: 0 20px;
                        display: flex;
                        flex-grow: 1;
                        justify-content: space-between;

                        .menu-item {
                            flex: 0 0 18%;
                            padding-bottom: 18%;
                            text-align: center;
                            border-radius: 50%;
                            position: relative;
                            justify-content: center;
                            background-color: $warmgray;
                            transition: background-color 0.2s ease;

                            &.bg-red {
                                background-color: $red;

                                &:hover {
                                    background-color: $burntred;
                                }
                            }

                            &.bg-teal {
                                background-color: $teal;

                                &:hover {
                                    background-color: darken($teal, 25%);
                                }
                            }

                            &.bg-lightblue {
                                background-color: $lightblue;

                                &:hover {
                                    background-color: darken($lightblue, 25%);
                                }
                            }

                            &.bg-gray {
                                background-color: $gray;

                                &:hover {
                                    background-color: darken($gray, 15%);
                                }
                            }

                            &.bg-steelblue {
                                background-color: $steelblue;

                                &:hover {
                                    background-color: darken($steelblue, 15%);
                                }
                            }
                        }

                        a {
                            color: white;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            width: 100%;
                            padding: 25% 2px;
                            transform: translateY(-50%);
                            @include fluid-value(font-size, 14px, 20px);
                        }
                    }
                }
            }

            .menu-item-subline {
                font-family: $font1;
                display: block;
            }
        }

        @include bp-lg {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
        }
    }

    // Quicklinks
    &__quicklinks {
        margin: 0;
        padding: 0;
        transition: transform 0.3s ease-in-out;

        a {
            line-height: pxtorem(28px);

            &:hover,
            &:focus {
                color: $teal;
            }
        }

        .menu-item {
            padding: 0 15px;
            margin-bottom: 0;
            transition: width 0.3s ease;

            &:last-child {
                padding-right: 0;
            }

            &.btn {
                >a {
                    @extend .btn;
                    line-height: 1;
                    color: white;
                    padding: 4px 20px;
                    text-transform: none;
                    background-color: $red;
                    transition: border-color 0.3s ease,
                        background-color 0.3s ease;
                    @include font-size(16px);

                    &:hover,
                    &:focus {
                        border-color: $burntred;
                        background-color: $burntred;
                    }
                }

                .icon:before {
                    color: white;
                    @include font-size(7px);
                }
            }

            &.btn--reverse {
                >a {
                    color: $red;
                    border-color: $red;
                    border-width: 4px;
                    padding: 6px 20px;
                    background-color: transparent;

                    &:hover,
                    &:focus {
                        color: white;
                        background-color: $red;
                        border-color: $red;
                        border-width: 4px;
                    }
                }
            }
        }

        .menu-item-type-custom {
            display: inline-flex;
        }

        [class*='icon-'],
        [class^='icon-'] {
            &:before {
                color: $teal;
                margin-right: 8px;
            }
        }

        .sub-menu {
            padding-top: 5px;
            margin-left: 0;
            transform: translateX(-15%);

            .menu-item:first-child {
                &:first-child {
                    border-top: 1px solid rgba($coolgray, 0.5);
                }
            }
        }

        @include bp-lg {
            flex: 0 0 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .sub-menu {
                min-width: 230px;
                transform: translate(-45%);
            }
        }
    }
}