.modal-bg {
    display: none;
    
	&:before {
		content      : "";
	    position  : fixed;
	    top       : 0;
	    left      : 0;
	    width     : 100%;
	    height    : 100%;
	    z-index   : 52;
	    background: rgba(0, 0, 0, 0.37);
    }
    
    .no-js & {
        display : block;
        position: static;

        &:before {
            display: none;
        }
    }
}

.download-modal {
	width     : 100%;
	height    : 100vh;
    position  : fixed;
    overflow  : scroll;
    z-index   : 53;
    left      : 50%;
    top       : 50%;
    background: white;
    padding   : 20px;
    transform : translate(-50%, -50%);

    h3 {
    	margin-top: 40px;
    	font-size : 25px;
    }

    .icon-cancel {
		float: right;

		&:hover {
			cursor: pointer;
		}
    }

    @include bp-sm {
    	width: 700px;
    	height: inherit;
    }

    @media (min-height: 730px) {
    	padding: 40px 40px 80px;

    	h3 {
	    	font-size: 30px;
	    }
    }

    .no-js & {
        position : static;
		transform: none;
		width    : 100%;

		.icon-cancel {
			display: none;
		}
    }
}