.more-journals-content {
    padding-top   : 30px;
    padding-bottom: 30px;
    background-color: $black;

    @include bp-md {
        padding-top   : 60px;
        padding-bottom: 60px;
    }
    
    .column {
        display: flex;
        margin-bottom: 15px;
    }

    &__heading {
        margin-bottom : 50px;
        text-transform: uppercase;
        color:$white;
    }
   
    .journal-issue-number{
        margin:15px 0;
        text-transform:uppercase;
    }

    .list-item__title {
        line-height:1em;
    }

    .list-item__link {
        display: block;
    }
}
