.pagination {
    margin-top   : 30px;
    margin-bottom: 40px;
    padding-top  : 35px;
    text-align   : center;
    position     : relative;
    border-top   : 1px solid rgba( $steelblue, 0.5 );
    @include font-size(30px);

    .current {
        color      : $red;
        font-family: $font2;
    }

    > * {
        margin-left: 7px;
        margin-right: 7px;
    }

    a {
        color: $black;
        font-family: $font1;

        .icon:before {
            color: $red;
            margin-right: 20px;
            @include font-size(18px);
        }

        &:hover, &:focus {
            color: $burntred;
        }

        &.prev {
            margin-left: 0;
            margin-bottom: 20px;
            display: block;

            @include bp-sm {
                display: initial;
                margin-bottom: 0;
            }
        }

        &.next {
            margin-right: 0;
            margin-top: 20px;
            display: block;

            .icon:before {
                margin-right: 0;
                margin-left: 20px;
            }

            @include bp-sm {
                display: initial;
                margin-top: 0;
            }
        }
    }

    @include bp-sm {
        .next, .prev {
            position: absolute;
            left: 0;
        }

        .next {
            left: auto;
            right: 0;
        }
    }

    .search & {
        border-top: none;
    }
}