.promo {
    color: white;
    padding-bottom: 50px;
    text-align: center;
    margin-top: 40px;
    background-color: $lightblue;

    @include bp-lg {
        margin-top: 100px;
    }

    &__icon {
        display: inline-block;
        padding: 0 57px 22px;
        margin-bottom: 40px;
        background: url('data: image/svg+xml;utf8,<svg width="176px" height="92px" viewBox="0 0 176 92" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Stay-Connected" transform="translate(-711.000000, 0.000000)" fill="%23FFFFFF" fill-rule="nonzero"><polygon id="Triangle" transform="translate(799.000000, 46.000000) rotate(-180.000000) translate(-799.000000, -46.000000) " points="799 -1.42108547e-14 887 92 711 92"></polygon></g></g></svg>')
            no-repeat;
        background-size: 90%;
        background-position: center;

        .icon {
            display: inline-block;
            line-height: pxtorem(30px);

            &:before {
                color: $lightblue;
                @include font-size(30px);
            }
        }

        @include bp-md {
            background-size: cover;

            .icon {
                line-height: pxtorem(40px);

                &:before {
                    @include font-size(40px);
                }
            }
        }
    }

    &__heading {
        color: white;
    }

    &__btn {
        cursor: pointer;
        color: white;
        display: inline-block;
        font-family: $font2;
        padding: 12px 30px;
        background-color: transparent;
        border: 6px solid white;
        text-transform: uppercase;
        border-radius: 30px;
        transition: background-color 0.3s ease;
        @include fluid-value(font-size, 18px, 24px);

        .icon {
            display: inline-block;
        }

        &:hover,
        &:focus {
            color: $lightblue;
            border-color: white;
            background-color: white;

            .icon {
                animation: bounceRightArrow 1.5s infinite;
            }
        }
    }
}

// Override page builder hover promo
.vc-custom-promo-box {
    text-align: left;
    max-height: none;

    // Transition setup
    transform: none;
    // transition: transform .5s cubic-bezier(0.4, 0, 0.2, 1), opacity .5s;
    transition: transform 0.5s ease, opacity 0.5s ease;

    .content {
        padding: 0px;
        max-width: 100%;
        // height   : 100%;

        .promo-icon {
            width: auto;
            max-width: 100%;
        }
    }

    .vc-promo-text {
        font-family: $font2;
    }

    // override default styling of slide up effect
    // on hover: content fades in/out, container
    // scales up and background scales down
    &.text-slide-up {
        &:after {
            opacity: 0.5;
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            z-index: 3;
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity 0.5s ease;
            background: linear-gradient(45deg, rgba(black, 1), rgba(black, 0));
        }

        .vc-promo-header {
            transition: opacity 0.4s ease-out;
        }

        .content {
            z-index: 4;
            padding: 10px;
            height: initial;
        }

        .vc-promo-text {
            opacity: 0;
            transition: opacity 0.5s ease-out;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 30px;
        }

        .vc-promo-bg {
            z-index: 2;
            transform: scale(1.15);
            // transition: 1s transform cubic-bezier(0.25, 0.1, 0.25, 1);
            transition: 0.5s transform ease;
        }

        .vc-promo-text {
            display: none;
        }

        @include bp-md {
            .content {
                // padding: 0px;
            }

            .vc-promo-header {
                margin-bottom: 0;
            }

            .vc-promo-text {
                display: block;
            }

            &:hover {
                transform: scale(1.03);
                box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);

                .vc-promo-bg {
                    transform: scale(1);
                }

                .vc-promo-header {
                    opacity: 0;
                }

                &:after {
                    opacity: 0.75;
                    transition: opacity 0.3s ease-in;
                }

                .content {
                    transform: translateY(0%);
                    transition: transform 0.4s ease-in-out;
                }

                .vc-promo-text {
                    opacity: 1;
                    transition: max-height 0.4s ease-in-out,
                        opacity 0.4s ease-in-out;
                }
            }
        }

        @include bp-lg {
            .content {
                padding: 30px;
                bottom: 0;
                transform: translateY(0%);
                transition: transform 0.5s ease-in-out;
            }
        }
    }

    // short variation
    .promo-box--short & {
        text-align: center;

        .content {
            // height: 100%;
            display: initial;

            @include bp-md {
                padding: 0 30px;
            }

            .promo-icon {
                margin-bottom: 0;
            }
        }

        &:before {
            padding-top: 50%;
        }

        &:hover {
            opacity: 1;
            transform: none;

            .vc-promo-header {
                opacity: 1;
            }
        }
    }

    // tall variation - helper class added to element
    .promo-box--tall & {
        text-align: center;

        &:before {
            padding-top: 140%;
            background: transparent;
        }

        .promo-icon {
            margin-bottom: 0;

            + .vc-promo-header {
                // margin-top: 10px;
            }
        }

        .vc-promo-header {
            @extend .h3;
            font-family: $font1;
            opacity: 1;
            margin-bottom: 10px;
        }

        &.bold {
            .vc-promo-header {
                font-family: $font2;
            }
        }

        .vc-promo-text {
            display: block;
            opacity: 1;
            position: relative;

            @include bp-lg {
                padding: 0;
                position: relative;
                max-height: 0;
                opacity: 0;
                transition: max-height 0.75s ease, opacity 0.75s ease;
            }
        }

        .content {
            @include bp-lg {
                bottom: 50%;
                transform: translateY(50%);
                transition: transform 1.5s ease-in;
            }
        }

        @include bp-md {
            &:hover {
                z-index: 5;

                .content {
                    transform: translateY(50%);
                    transition: transform 1s ease-in;
                }

                .vc-promo-text {
                    opacity: 1;
                    max-height: 125px;
                    transition: max-height 0.75 ease-in, opacity 0.75 ease-in;
                }
            }
        }
    }

    // if a hex background color is set
    &--bg-color {
        &:before {
            background: unset;
            background-color: rgba(black, 0);
            transition: background-color 0.4s ease;
        }

        &:hover {
            &:before {
                background-color: rgba(black, 0.25);
            }
        }
    }

    &.text-center {
        @extend .text-center;
    }

    &.unset-content {
        .content {
            @include bp-md {
                position: relative;
                transform: none;
                padding: 20px;
                padding-top: 0;
            }

            .promo-icon {
                margin-bottom: 0;
            }
        }

        &:before {
            @include bp-md {
                padding-top: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    &.text-fancy-reveal .content {
        transform: translateY(50%);
    }

    // circle
    &.promo-circle {
        border-radius: 50%;
        text-align: center;

        .content {
            padding: 0 20px;
        }

        .vc-promo-header {
            @include fluid-value(font-size, 30px, 38px);
            @include fluid-value(line-height, 30px, 44px);
        }
    }
}
