// model graphic
.phases--parents {
    width           : 679px;
    height          : 679px;
    margin          : 0 auto;
    position        : relative;
    border-radius   : 50%;
    background-color: $red;
    background      : url(../images/model-phases.png) no-repeat;
    background-size : cover;
    padding         : 30px;
    margin-bottom   : 60px; 
}

.phases--children {
    position: relative;
    width   : 619px;
    height  : 619px;

    .phase {
        display : block;
        position: absolute;
        background-repeat: no-repeat;

        &:before,
        &:after {
            content : '';
            display : block;
            position: absolute;
            width   : 100%;
            height  : 100%;
            top     : 0;
            left    : 0;
        }

        &:after {
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        &:hover {
            &:after {
                opacity: 1;
            }
        }

        &:nth-child(1) {
            width : 295px;
            height: 251px;
            top   : 1px;
            left  : 15px;

            &:before {
                background-image: url(../images/phase_1.svg);
            }

            &:after {
                background-image: url(../images/phase_1_hover.svg);
            }
        }

        &:nth-child(2) {
            width : 295px;
            height: 251px;
            top   : 1px;
            right : 15px;
            
            &:before {
                background-image: url(../images/phase_2.svg);
            }

            &:after {
                background-image: url(../images/phase_2_hover.svg);
            }
        }

        &:nth-child(3) {
            width : 196px;
            height: 348px;
            bottom: 57px;
            right : 0px;
            
            &:before {
                background-image: url(../images/phase_3.svg);
            }

            &:after {
                background-image: url(../images/phase_3_hover.svg);
            }
        }

        &:nth-child(4) {
            width      : 366px;
            height     : 154px;
            bottom     : 0px;
            left       : 50%;
            // margin-left: -183px;
            transform: translate(-50%);

            &:before {
                background-image: url(../images/phase_4.svg);
            }

            &:after {
                background-image: url(../images/phase_4_hover.svg);
            }
        }

        &:nth-child(5) {
            width : 196px;
            height: 348px;
            bottom: 58px;
            left  : 2px;

            &:before {
                background-image: url(../images/phase_5.svg);
            }

            &:after {
                background-image: url(../images/phase_5_hover.svg);
            }
        }
    }
}

.competencies--labels {
    position   : absolute;
    color      : #6d6c78;
    font-size  : 8px;
    text-align : center;
    line-height: 1.4;
    width      : 176px;
    left       : 50%;
    margin-left: -88px;
    top        : 204px;
    z-index    : 10;

    a {
        color: white;
        @include font-size(14px);

        &:hover {
            text-decoration: underline;
        }
    }
}

#background-circle {
    width        : 400px;
    height       : 400px;
    background   : #3b4150;
    position     : absolute;
    top          : 50%;
    left         : 50%;
    z-index      : -1;
    border       : 50px solid #272c37;
    border-radius: 5000px;
    // margin-left  : -200px;
    // margin-top   : -200px;
    transform: translate(-50%,-50%);

    img {
        margin-top: -54px;
    }
}

// content modals
.reveal-modal {
    visibility           : hidden;
    top                  : 100px;
    left                 : 50%;
    transform            : translateX(-50%); 
    width                : 100%;
    max-width            : 100%; 
    background-color     : $coolgray;
    position             : absolute;
    z-index              : 101;
    padding              : 30px 40px 34px;
    -moz-border-radius   : 5px;
    -webkit-border-radius: 5px;
    border-radius        : 5px;
    -moz-box-shadow      : 0 0 10px rgba(0,0,0,.4);
    -webkit-box-shadow   : 0 0 10px rgba(0,0,0,.4);
    box-shadow           : 0 0 10px rgba(0,0,0,.4);

    &.xlarge {
        max-width: $breakpoint-lg;
    }

    .close-reveal-modal {
        font-size    : 22px;
        line-height  : .5;
        position     : absolute;
        top          : 25px;
        right        : 25px;
        color        : #e44f28;
        text-shadow  : 0 -1px 1px rbga(0,0,0,.6);
        font-weight  : bold;
        cursor       : pointer;
        border-radius: 1000px;
        border       : solid #ccc 3px;
        padding      : 15px;
        display      : block;
    }
}

.reveal-modal-bg {
    position  : fixed;
    height    : 100%;
    width     : 100%;
    background: #000;
    z-index   : 100;
    display   : none;
    top       : 0;
    left      : 0;
}