.related-content {
    padding-top   : 30px;
    padding-bottom: 30px;
    background-color: $warmgray;

    @include bp-md {
        padding-top   : 60px;
        padding-bottom: 60px;
    }
    
    .column {
        display: flex;
        margin-bottom: 15px;
    }

    &__heading {
        margin-bottom : 50px;
        text-transform: uppercase;
    }
}

.list-item--related {
    display: flex;
    text-align: initial;

    .list-item__label {
        z-index: 1;
        position: absolute;
    }

    &.list-item--featured-image {
        .list-item__content {
            padding-top: 30px;
        }
    }

    .list-item__title {
        padding: 0;
    }

    .list-item__link {
        display: flex;
        flex-grow: 1;
        overflow: hidden;
        // flex-direction: column;
        justify-content: space-between;
    }
    
    .list-item__label {
        margin: 25px 30px 0;
    }

    .list-item__image {
        margin-bottom: 0;
    }

    .list-item__content {
        padding        : 70px 30px 0;
        display        : flex;
        flex-grow      : 1;
        flex-direction : row;

        @include bp-md {
            flex-direction : column;
            justify-content: space-between;
        }
    }

    .list-item__meta {
        text-transform: uppercase;
    }
 
    
    &.list-item--post {
        &:after {
            display: block;
        }
    }

    &.list-item--resource {
        .list-item__link {
            padding-top: 0px;
        }
    }
}