/**
 * Mobile Navigation
 */
#nav-toggle {
    display: none;

    &:checked~#mobile-nav {
        // For the fade animation to work properly without a slide we need the following.
        // - z-index, height, top, and opacity prevents visual and functional effects.
        // - On open, z-index, top, and height transition happens immediately place screen overlay. Then visual transitions occur.
        // - On close, height transition waits until visual transitions are finished (declared below), then remove overlay.
        z-index: 49;
        top: 0;
        opacity: 1;
        height: 100vh;
        transition: z-index 0s linear 0.3s, top 0s linear 0.3s,
            opacity 0.3s linear 0.3s, height 0s linear 0.3s;

        .mobile-nav,
        .mobile-nav__menu {
            opacity: 1;
            top: 0;
            transform: translateY(0);
            transition: opacity 0.5s ease 0.25s, transform 0.5s ease 0s;
        }
    }
}

#mobile-nav {
    position: fixed;
    top: -999999px;
    height: 0; // Important so it doesn't overlap page elements
    width: 100%;
    z-index: -1;
    opacity: 0;
    color: #fff;
    padding-top: 80px;
    overflow-y: scroll;
    background-color: rgba($burntred, 0.98);
    transition: z-index 0s linear 0s, top 0s linear 0s, opacity 0.3s linear 0s,
        height 0s linear 0s;
}

.mobile-nav {
    display: flex;
    margin-top: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 80px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    // For the fade animation to work properly without a slide we need the following.
    // - z-index, height, top, and opacity prevents visual and functional effects.
    // - On open, z-index, top, and height transition happens immediately place screen overlay. Then visual transitions occur.
    // - On close, height transition waits until visual transitions are finished (declared below), then remove overlay.
    transition: z-index 0s linear 0.3s, top 0s linear 0.3s,
        opacity 0.3s linear 0s, height 0s linear 0.3s;
    backface-visibility: hidden; // Prevents bugs in opacity.transitions
    transform: translate3d(0, 0, 0); // Adds hardware acceleration
    -webkit-backface-visibility: hidden; // Helps prevent animation flickers
    -webkit-perspective: 1000; // Helps prevent animation flickers

    ul {
        width: 100%;
        // overflow-y: scroll;
        margin: 0;
        padding: 0;
        list-style-type: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    a {
        font-weight: 400;
        color: white;
        display: block;
        text-align: left;
        padding: 20px 0px;
        line-height: pxtorem(22px);
        @include font-size(22px);
    }

    &__menu {
        opacity: 0;
        transform: translateY(-100%);
        transition: opacity 0.5s ease 0s, transform 0.5s ease 0.15s;
        backface-visibility: hidden; // Prevents bugs in opacity.transitions
        -webkit-backface-visibility: hidden; // Helps prevent animation flickers
        -webkit-perspective: 1000; // Helps prevent animation flickers

        // quicklinks
        &:first-child {
            >li:first-child {
                a {
                    font-weight: 400;
                    font-family: $font1;
                    text-align: center;

                    .icon {
                        color: $lightblue;
                    }
                }
            }
        }

        li {
            padding-left: 0;
            padding-right: 0;

            &.btn {
                padding: 0;
                text-align: left;
                background-color: transparent;
            }
        }

        >li {
            margin-bottom: 20px;

            >a {
                flex-grow: 1;
                font-family: $font2;
                font-weight: 600;
                padding: 10px 0;
                line-height: pxtorem(36px);
                @include font-size(24px);

                .icon-arrow-down {
                    display: none;
                }
            }
        }

        >li {
            &.menu-item-has-children {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                >a {
                    max-width: calc(100% - 70px);
                }

                >.icon {
                    display: initial;
                    padding-left: 25px;
                    padding-right: 5px;

                    &:before {
                        display: block;
                        line-height: pxtorem(56px);
                        transition: transform 0.25s ease,
                            -webkit-transform 0.25s ease,
                            -o-transform 0.25s ease;
                        @include font-size(22px);
                    }
                }
            }
        }

        .link--callout {
            color: white;
            display: inline-block;
            margin-top: 16px;
        }

        .sub-menu--open {
            display: none;
        }
    }

    // Dropdowns
    .sub-menu {
        max-height: 0;
        transition: max-height 0.5s ease-in-out;
        opacity: 0;
        z-index: -1;

        .sub-menu {
            a {
                padding-left: 30px;
            }
        }
    }

    // Icon
    &__icon {
        // This is the <label> element that contains the menu icon
        z-index: 99;
        display: inline-block;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        -ms-user-select: none;
        user-select: none;
        margin-bottom: 0;

        >div {
            position: relative;
            width: 37px;
            height: 19px;
        }

        &:hover {
            .header__menu-line {
                &:first-child {
                    transform: translateY(1px);
                }

                &:last-child {
                    transform: translateY(-1px);
                }
            }
        }

        &:focus {
            outline: none;
        }

        @include bp-lg {
            display: none;
        }

        @include bp-xl {
            opacity: 0;
            z-index: -1;
            transform: translateY(-200%);
        }
    }

    // Animated icons lines
    &__menu-line {
        position: absolute;
        width: 100%;
        height: 2px;
        top: 50%;
        background-color: $black;
        transition: all 0.3s;

        &:first-child {
            top: 0;
        }

        &:nth-child(2),
        &:nth-child(3) {
            transform: translateY(-50%);
        }

        &:last-child {
            top: auto;
            bottom: 0;
        }

        .mobile-nav-open & {

            &:first-child,
            &:last-child {
                opacity: 0;
                top: 50%;
            }

            &:nth-child(2) {
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }

    // Fallback hiding content in case there is no mobile-nav set
    .menu__title--desktop,
    .menu-item-thumbnail img,
    .menu__title--page {
        display: none;
    }

    .quicklinks {
        text-align: center;

        ul {
            margin-bottom: 12px;
        }

        a {
            padding: 10px;
            @include font-size(18px);
        }

        >a {
            display: inline-block;

            [class^='icon-']:before,
            [class*=' icon-']:before {
                @include font-size(28px);
            }
        }
    }

    // CONDITIONS
    // show sub-menu
    &--opened {
        .sub-menu {
            display: block;
            opacity: 1;
            z-index: 1;
            max-height: 2000px;
            transition: max-height 0.5s ease-in;
        }

        &.menu-item-has-children>.icon:before {
            transform: translate(0, 0) rotate(180deg) !important;
        }
    }

    .menu--intro-text {
        display: none;
    }
}

// Search form
.mobile-search {
    z-index: 10;
    flex-grow: 1;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;

    &__input {
        width: 80%;
        float: left;

        input[type='text'] {
            width: 100%;
            color: white;
            margin-bottom: 0;
            border: none;
            background-color: transparent;

            &::-webkit-input-placeholder {
                color: rgba(white, 0.5);
            }

            &:-ms-input-placeholder {
                color: rgba(white, 0.5);
            }

            &::-ms-input-placeholder {
                color: rgba(white, 0.5);
            }

            &::placeholder {
                color: rgba(white, 0.5);
            }
        }
    }

    &__submit,
    input[type='submit'] {
        display: block;
        min-width: 0;
        width: 20%;
        text-align: right;
        padding: 8px 10px 17px;
        color: white;
        border: none;
        margin-bottom: 0;
        background-color: transparent;

        .icon:before {
            @include font-size(20px);
        }

        &:hover,
        &:focus {
            color: $lightblue;
            border: none;
            background-color: transparent;
        }
    }
}

.mobile-nav-open {
    overflow: hidden;
}