.post {
	&__restricted_content {
		margin-bottom:50px;
		position: relative;
		&:after {
			position:absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			content: "";
			height: 150px;
			background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

		}
	}
	&__restricted_login {
		position: relative;
		padding-top: 50px;
		margin-bottom:50px;
		&:before {
			position:absolute;
			top: 0;
			left: 0;
			content: "";
			width:100%;
			border-top: 4px solid #ebebeb;
		}
		.post__restricted_icon {
			position: absolute;
			top:-20px;
			font-size: 2em;
			left: 0;
			right: 0;
			margin:0 auto;
			width:100px;
			text-align: center;
		}
		
		h4 {
			
		}
		h5{
			font-size:1.3em;
			font-weight: bold;
			color:black;
		}
		.btn {
			text-decoration: none;
		}
	}

	.member_login {
		padding-right:30px;
		border-right:4px solid #ebebeb;
		p.login-username label,
		p.login-password label
		 {
		  display: none;
		}

		.btn {
			border-color:gray;
		}
		input[type=text], input[type=password] {
			border:none;
			background:#ebebeb;
			border-radius:24px;
		}
	}
	.member_join {
		padding-left:30px;
	}
}