// General slick slide overrides
.slick-prev:before, .slick-next:before {
    display: none;
}

.slick-initialized {
    &:hover {
        .slick-arrow {
            opacity: 1;
            transform: translateY(-50%);
        }
    }
}

.slick {
    // prev and next buttons
    &-arrow {
        z-index   : 10;
        width     : initial;
        height    : initial;
        opacity   : 0;
        transform : translateY(50%);
        transition: opacity 0.3s ease-in, transform 0.3s ease-in;

        .icon {
            display: block;
            opacity: .5;
            transition: transform 0.2s ease, opacity 0.3s ease;

            &:before {
                color: $gray;
                @include font-size(58px);
            }
        }

        &:hover, &:focus {
            border: none;

            .icon {
                opacity: 1;
            }
        }
    }

    &-next {
        right: -60px;

        &:hover {
            .icon {
                animation: bounceRightArrow 1.5s infinite;
            }
        }
    }

    &-prev {
        left: -60px;

        &:hover {
            .icon {
                animation: bounceLeftArrow 1.5s infinite;
            }
        }
    }

    // dot navigation
    &-dots {
        text-align: initial;

        @include bp-md {
            padding-left: 70px;
        }

        li {
            &:first-child {
                margin-left: 0;
            }

            button {
                &:before {
                    color: $gray;
                    transition: color .2s ease;
                    @include font-size(20px);
                }

                &:hover {
                    &::before {
                        color: $gray;
                    }
                }
            }


            &.slick-active {
                button:before {
                    opacity: .3;
                }
            }
        }

        .text-white & {
            li {       
                button {
                    &:before {
                        color: white;
                        opacity: 1;
                    }

                    &:hover {
                        &::before {
                            color: $gray;
                        }
                    }
                }

                &.slick-active {
                    button:before {
                        color: $gray;
                    }
                }
            }
        }
    }
}