.social-links {
    text-align: center;

    &__link {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 0 7px;
        text-align: center;
        background-color: $teal;
        color: white;
        transition: background-color 0.2s ease;

        .icon {
            margin-left: 0;
            width: 30px;
            height: 30px;
            display: inline-flex;
            justify-content: center;
            align-items: center;

            &:before {
                color: $black;
                line-height: 50px;
                @include font-size(18px);

                @include bp-lg {
                    line-height: 30px;
                    @include font-size(16px);
                }
            }

            &.icon-linkedin {
                &:before {
                    position: relative;
                    top: -1px;
                    left: 1px;
                }
            }
        }

        i {
            line-height: pxtorem(30px);
        }

        &:hover,
        &:focus {
            color: white;
            background-color: $lightblue;
        }
    }

    li {
        margin-bottom: 36px;

        &:first-child {
            .social-links__link {
                margin-left: 0;
            }
        }
    }

    .footer & {
        @include bp-lg {
            text-align: right;
        }
    }
}

.bctt-click-to-tweet {
    display: block;
    background-color: #fff;
    position: relative;
    border: none;
    border-radius: 0;
    padding: 5px 0;
    margin: 1.75em 3em 1em;
    border-top: 5px solid #ebebeb;
    border-bottom: 5px solid #ebebeb;

    .bctt-ctt-text {
        position: relative;

        &:before {
            position: absolute;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f10d";
            color: #4da8eb;
            left: 0;
            top: 30px;
            font-size: 3em;
            display: block;
            margin-bottom: 50px;
            font-style: normal;

        }


        a {

            position: relative;
            display: block;
            padding-left: 100px;
            font-weight: normal;
            font-size: 1.25em !important;
            font-family: $font1 !important;
            font-style: italic;

        }


    }

    .bctt-ctt-btn {
        background: none;
        position: relative;
        font-size: 0;

        &:after {
            position: absolute;
            content: "\f099";
            color: #4da8eb;
            font-size: 1em;
            display: inline-block;
            font-style: normal;
        }
    }

}