// Overrides page builder tabs element
.wpb-js-composer .vc_general.vc_tta.vc_tta-tabs {
    position: relative;

    .vc_tta-tabs-list {
        text-align: center;
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
    }

    // tabs
    .vc_tta-tabs-container {
        display: block;
    }

    .vc_tta-tab {
        margin-right: 2px;
        display: block;
        flex: 0 0 48%;

        a {
            padding: 10px;
            color: white;
            font-family: $font2;
            border-radius: 0;
            border: none;
            text-align: left;
            background-color: $steelblue;
            @include fluid-value(font-size, 12px, 22px);

            @include bp-lg {
                padding-left: 45px;
                padding-right: 45px;
                text-align: center;
            }

            &:hover {
                color: $steelblue;
                background-color: $coolgray;
                border: none;
            }
        }

        // active tab
        &.vc_active {
            a {
                color: $steelblue;
                background-color: $coolgray;
                border: none;
            }
        }

        @include bp-md {
            display: inline-block;
        }
    }

    // content
    .vc_tta-panels-container>.vc_tta-panels {
        position: relative;
        margin-top: 30px;
        width: 100%;
        // height: 100%;

        @include bp-md {
            height: auto;
        }
    }

    .vc_tta-panels-container>.vc_tta-panels,
    .vc_tta-panels-container .vc_tta-panel-body {
        border: none;
        border-radius: 0;
        background-color: $coolgray;
        background-color: transparent;

        @include bp-md {
            border: none;
            background-color: $coolgray;
            background-color: transparent;
        }
    }

    .vc_tta-panel {
        // opacity: 0;
        transition: opacity 1s ease;

        &.vc_active {
            opacity: 1;
        }

        .vc_tta-panel-heading {
            display: none;
            background-color: $steelblue;

            a {
                color: white;
                @include font-size(14px);
            }
        }

        &.vc_active {
            .vc_tta-panel-heading {
                background-color: $coolgray;

                a {
                    color: $steelblue;
                }
            }

            .vc_tta-panel-body {
                opacity: 1;
                // transition: height 1s ease-in, opacity 1s 1s ease-in-out;
            }
        }
    }

    .vc_tta-panel-body {
        // height    : auto !important; // override vc transition
        // opacity   : 0;
        transition: opacity 0.6s ease-in;
        line-height: pxtorem(26px);
        @include font-size(20px);

        @include bp-md {
            display: none;
        }
    }
}