/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

/** Media alignment */
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.aligncenter {
  display: block;
  margin: 20px auto;
  height: auto;
}

.alignleft,
.alignright {
  margin-bottom: 20px;
  height: auto;
}

@include bp-sm {
  .alignleft {
    float: left;
    margin-right: 20px;
  }

  .alignright {
    float: right;
    margin-left: 20px;
  }
}

/** Captions */
.wp-caption {
  // @extend .figure;
}

.wp-caption img {
  // @extend .figure-img;
  // @extend .img-fluid;
}

.wp-caption-text {
  // @extend .figure-caption;
}

/** Text meant only for screen readers */
.screen-reader-text {
  // @extend .sr-only;
  // @extend .sr-only-focusable;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}