@keyframes slideup {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideright {
	0% {
			// opacity: 0;
			transform: translateY(-100%);
	}
	100% {
			// opacity: 1;
			transform: translateY(0);
	}
}

@keyframes border {
	0% {
		left: 0;
		// transform-origin: left center 0px;
		// transform: matrix(1, 0, 0, 1, 12, 0);
	}
	50% {
		left: 100%;
	}
	51% {
		left: 0;
		width: 0;
	}
	100% {
		width: 100%;
	}
}

// Bouncing icons
@keyframes bounceLeft {
	0%,
	20%,
	50%,
	80%,
	100% {
	  -ms-transform: translate(0, -50%);
	  transform: translate(0, -50%);
	}
	40% {
	  -ms-transform: translate(-15px, -50%);
	  transform: translate(-15px, -50%);
	}
	60% {
	  -ms-transform: translate(-7px, -50%);
	  transform: translate(-7px, -50%);
	}
}

@keyframes bounceRight {
	0%,
	20%,
	50%,
	80%,
	100% {
	  -ms-transform: translate(0, 0);
	  transform: translate(0, 0);
	}
	40% {
	  -ms-transform: translate(10px, 0);
	  transform: translate(10px, 0);
	}
	60% {
	  -ms-transform: translate(5px, 0);
	  transform: translate(5px, 0);
	}
}

@keyframes bounceRightArrow {
	0%,
	20%,
	50%,
	80%,
	100% {
	  -ms-transform: translate(0, 0);
	  transform: translate(0, 0);
	}
	40% {
	  -ms-transform: translate(15px, 0);
	  transform: translate(15px, 0);
	}
	60% {
	  -ms-transform: translate(7px, 0);
	  transform: translate(7px, 0);
	}
}

@keyframes bounceLeftArrow {
	0%,
	20%,
	50%,
	80%,
	100% {
	  -ms-transform: translate(0, 0);
	  transform: translate(0, 0);
	}
	40% {
	  -ms-transform: translate(-15px, 0);
	  transform: translate(-15px, 0);
	}
	60% {
	  -ms-transform: translate(-7px, 0);
	  transform: translate(-7px, 0);
	}
}

// Reveal effects using waypoints - see common.js 
.reveal {
  opacity: 0;
	transition: all 0.6s;
	transition-timing-function: ease-in-out;

	&.revealed {
        opacity: 1;
        transform: none;
    }
    
    .no-js & {
        opacity: 1;
        transform: none;
    }
}

.reveal--up {
	@include bp-sm {
		transform: translateY(-40px);
	}
}

.reveal--down {
	@include bp-sm {
		transform: translateY(40px);
	}
}

.reveal--right {
	@include bp-sm {
		transform: translateX(-40px);
	}
}

.reveal--left {
	@include bp-sm {
		transform: translateX(40px);
	}
}

.reveal--delay {
	@include bp-sm {
		transition-delay: 1s;
	}
}

.reveal--delay-long {
	@include bp-sm {
		transition-delay: 1.5s;
	}
}

.reveal--slow {
	@include bp-sm {
		transition-duration: 2.5s;
	}
}

.reveal--children {
	.wpb_wrapper {
		> * {
			@extend .reveal;
			transition-delay: .15s;
		}
	}
}

.reveal--tier {
	> * {
		// transition fun!
		// loop through child elements and increase transition delay
		// for a tiered appearance on hover
		@for $i from 1 through 8 {
			&:nth-child(#{$i}) {
				// Delay the animation. Delay increases as items loop.
				transition-delay: $i * (1s / 8);
			}
		}
	}
}


// Triangles
// Sizes
// small
// large 

// Color 
// Red 
// Teal 
// Gray 

// Position
// Up 
// Down 
