.parallax { // apply to page builder row
    position: absolute !important;
    top     : 0;
    left    : 0;
    width   : 100%;
    display : none;
    overflow: hidden;

    .wpb_wrapper {
        position: absolute;
        top     : 0;
        left    : 0;
        width   : 100%;
    }

    .vc_figure, .vc_single_image-wrapper {
        display: block;
    }

    &__img {
        display: block;

        @include bp-lg {
            position: absolute;
            top: 0;
        }
    }

    @include bp-lg {
        display: block;
        margin-top: 106px;
        min-height : 900px; // height of video element

        .wpb_wrapper {
            top    : 0px; // height of .header
            min-height : 711px; // height of video element
        }
    }
}

.tri-left-1 {
    left: -6%;
    bottom: 9%;
    width: 14%;
    top: auto;
}

.tri-left-2 {
    top: 147px;
    left: -40px;
    width: 6%;
}

.tri-left-3 {
    top: 50px;
    left: 86px;
    width: 10%;
}


.tri-right-1 {
    top: auto;
    bottom: 40%;
    right: 25%;
    width: 12%;
}

.tri-right-2 {
    top: 15%;
    right: 0;
    width: 214px;
    transform: translateY(-50%);
    width: 12%;
}

.tri-right-3 {
    top: 15%;
    right: 0;
    width: 18%;
}