blockquote {
    @extend .h3;
    padding-left: 70px;
    position: relative;

    &:before {
        content : '"';
        color   : rgba(white, 0.5);
        position: absolute;
        top     : 0;
        left    : 0;
        line-height: pxtorem(114px);
        @include font-size(140px);
    }
}

// Page builder element
// Also used as slick slide
.vc-author-blockquote {
    text-align: initial;

    @include bp-md {
        padding-left : 0;
        padding-right: 0;
    }

    &__quote-icon {
        display        : flex;
        align-items    : center;
        justify-content: center; // Centers for IE 9-11
        text-align     : center;
        margin-bottom: 10px;

        @include bp-md {
            margin-bottom: 30px;
        }

        &:before, &:after { 
            display      : block;
            content      : "";
            flex-grow    : 1;
            min-width    : 5%;
            border-bottom: 1px solid $red;
        }

        &:before {
            margin-right: 25px;
        }

        &:after {
            margin-left: 25px;
        }

        i {
            display: inline-block;
            width: 50px;
            height: 35px;
            line-height: 40px;

            @include bp-md {
                width: 75px;
                height: 50px;
                line-height: 60px;
            }

            &:before {
                color       : $red;
                margin-right: 15px;
                display     : block;
                @include font-size(40px);

                @include bp-md {
                    @include font-size(58px);
                }
            }
        }
    }

    &__quote {
        margin-top: 35px;
        margin-bottom: 28px;
        @extend blockquote;

        .text-white & {
            color: white;
        }

        @include bp-md {
            margin-top: 55px;
        }
    }

    &__author {
        display: flex;
        // justify-content: center;
        align-items: center;

        p {
            @extend .h5;

            .text-white & {
                color: white;
            }
        }

        @include bp-md {
            padding-left: 70px;
        }
    }

    &__author-image {
        img {
            width        : 75px;
            height       : 75px;
            margin       : 0;
            margin-right: 30px;
            border-radius: 50%;
        }
    }

    .visceral-slider & {
        .vc-author-blockquote__quote,
        .vc-author-blockquote__author {
            
        }
    }

}
.peak-pullquote{
    blockquote {
        font-size: 2rem;
        &:before {
        color   : rgba(black, 0.2);
        
    }
    }
}
