h1, .h1, h2, .h2, h3, .h3, h4, .h4, h6, .h6 {
	color: $black;
	font-family: $font2;
}
h1, .h1 {
  @include fluid-value(font-size, 32px, 60px);
	@include fluid-value(line-height, 35px, 62px);
	
	.home & {
		@include fluid-value(font-size, 48px, 80px);
  	@include fluid-value(line-height, 48px, 80px);
	}
}
h2, .h2 {
  @include fluid-value(font-size, 36px, 54px);
  @include fluid-value(line-height, 36px, 60px);
}
h3, .h3 {
  @include fluid-value(font-size, 30px, 44px);
  @include fluid-value(line-height, 30px, 50px);
}
h4, .h4 {
	@include fluid-value(font-size, 24px, 30px);
	@include fluid-value(line-height, 28px, 35px);
}
h5, .h5 {
	color: $gray;
	font-family: $font1;
	@include fluid-value(font-size, 22px, 24px);
	@include fluid-value(line-height, 28px, 30px);
}
h6, .h6 {
	text-transform: uppercase;
	@include fluid-value(font-size, 20px, 20px);
	@include fluid-value(line-height, 20px, 24px);
}