html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $font1;
  color: $text1;
  line-height: pxtorem(28px);
  @include font-size(20px);
  
  &.logged-in {
    margin-top: -32px;
  }
}