img, figure {
	max-width: 100%;
	height: auto;
}
figure {
	img {
		margin-bottom: 15px;
	}
	figcaption {
		@include font-size(12px);
		line-height: pxtorem(14px);
	}

    .single-journals & {
        margin: 0;

        figcaption {
            color: white;
            padding: 12px;
            display: inline-block;
            background-color: rgba( black, 0.5 );
            position: absolute;
            bottom: 6px;
            left: 0;
            @include font-size(16px);
		    line-height: pxtorem(18px);
        }
    }

    .mfp-content & {
        figcaption {
            position: static;
            background-color: transparent;
            display: block;
            text-align: center;
        }

        img {
            max-height: 90vh;
            width: auto;
        }
    }
}
img:before {
	display      : block;
	content      : attr(alt);
	position     : absolute;
	top          : 0;
	left         : 0;
	width        : 100%;
	height       : 100%;
	border       : 1px solid;
	border-radius: 3px;
	padding      : 5px 8px;
	background-color: #e6e6e6;
}

// Fixes stretching issues with IE 9-11
img[src*=".svg"] {
		width: 100%; 
}

// Hover effects
.img-zoom {
	display: block;
	overflow  : hidden;
	transform : none;
	transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), -o-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);

	> * {
		transform: scale(1.1);
		transition: .5s transform cubic-bezier(0.25, 0.1, 0.25, 1), .5s -webkit-transform cubic-bezier(0.25, 0.1, 0.25, 1), .5s -o-transform cubic-bezier(0.25, 0.1, 0.25, 1);
	}

	&:hover, &:focus {
		z-index: 5;
		transform: scale(1.05);
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

		> * {
			transform: scale(1);
		}
	}

	img {
		display: block;
		margin-bottom: 0;
	}
}

iframe {
	max-width: 100%;
}