a {
    color          : $red;
    text-decoration: none;
    word-break     : initial;
    transition     : color 0.3s ease, opacity 0.3s ease;
    will-change    : color, opacity;
    
    &:hover,
    &:focus {
        color: $burntred;
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }

    &.link--callout {
        font-family: $font2;
        text-transform: uppercase;

        &:after {
            content: $icon-arrow-right;
            font-family: 'icomoon';
            margin-left: 4px;
            @include font-size(14px);
            display: inline-block;
        }

        .text-white & {
            text-decoration: none;
        }

        &:hover, &:focus {
            @include bp-md {
                &:after {
                    animation: bounceRight 1.5s infinite;
                }
            }
        }
    }

    &.link--arrow {
        color: $black;

        &:after {
            content    : $icon-arrow-right;
            color      : $red;
            font-family: 'icomoon';
            margin-left: 13px;
            font-size  : 50%;
            transition : color 0.3s ease;
            display: inline-block;
        }

        &:hover, &:focus {
            color: $red;

            @include bp-md {
                &:after {
                    animation: bounceRight 1.5s infinite;
                }
            }
        }
    }

    .wpb_text_column & {
        word-break: break-word;
    }
}

.link--callout {
    color: $red;
    font-family: $font2;
    text-transform: uppercase;

    &:after {
        content: $icon-arrow-right;
        font-family: 'icomoon';
        margin-left: 4px;
        @include font-size(14px);
    }
}