.main ul:not(.list-inline):not(.list-unstyled) {
    margin-top: 1em;

    ul {
        margin-top: 1em;
    }
}

li {
    margin-bottom: 10px;
}

ul {
    &.checklist {
        padding: 0;

        >li {
            list-style: none;
            margin-bottom: 25px;
            position: relative;
            padding-left: 60px;
            line-height: pxtorem(26px);
            @include font-size(20px);

            &:before {
                content: $icon-checkmark;
                font-family: 'icomoon';
                color: darken($coolgray, 15%);
                position: absolute;
                left: 0;
                top: 10px;
                @include font-size(36px);
            }

            @include bp-md {
                margin-bottom: 18px;
            }
        }
    }
}

ol {}

dd {
    margin-left: 0;
    margin-bottom: 16px;
}