table {
    width: 100%;
}

th {
    color: white;
    font-family: $font2;
    background-color: $gray;
    border: 1px solid $coolgray;

    .easy-table &,
    .tablepress & {
        padding: 14px;
        text-align: center;
        vertical-align: middle;
        @include fluid-value(font-size, 16px, 20px);
        color: white;
        font-family: $font2;
        background-color: $gray;
        border: 1px solid $coolgray;
    }
}

td {
    padding: 14px;
    border: 1px solid $coolgray;
    background-color: $white;

    .easy-table &,
    .tablepress & {
        padding: 14px;
        text-align: center;
        border: 1px solid $coolgray;
        background-color: $white;
        @include fluid-value(font-size, 16px, 20px);
    }
}