@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uwmq2p');
  src:  url('fonts/icomoon.eot?uwmq2p#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uwmq2p') format('truetype'),
    url('fonts/icomoon.woff?uwmq2p') format('woff'),
    url('fonts/icomoon.svg?uwmq2p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-day:before {
  content: "\e910";
}
.icon-month:before {
  content: "\e911";
}
.icon-list:before {
  content: "\e90f";
}
.icon-lock:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e900";
}
.icon-envelope-circle:before {
  content: "\e901";
}
.icon-checkmark:before {
  content: "\e903";
}
.icon-arrow-circle-down:before {
  content: "\e904";
}
.icon-arrow-circle-up:before {
  content: "\e905";
}
.icon-arrow-down:before {
  content: "\e906";
}
.icon-arrow-left:before {
  content: "\e907";
}
.icon-arrow-right:before {
  content: "\e908";
}
.icon-arrow-up:before {
  content: "\e909";
}
.icon-envelope:before {
  content: "\e90a";
}
.icon-external:before {
  content: "\e90b";
}
.icon-mail:before {
  content: "\e90c";
}
.icon-twitter-with-circle:before {
  content: "\e90d";
}
.icon-twitter:before {
  content: "\e90e";
}
.icon-cancel:before {
  content: "\ea0f";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-linkedin:before {
  content: "\eaca";
}
