$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-day: "\e910";
$icon-month: "\e911";
$icon-list: "\e90f";
$icon-lock: "\e902";
$icon-search: "\e900";
$icon-envelope-circle: "\e901";
$icon-checkmark: "\e903";
$icon-arrow-circle-down: "\e904";
$icon-arrow-circle-up: "\e905";
$icon-arrow-down: "\e906";
$icon-arrow-left: "\e907";
$icon-arrow-right: "\e908";
$icon-arrow-up: "\e909";
$icon-envelope: "\e90a";
$icon-external: "\e90b";
$icon-mail: "\e90c";
$icon-twitter-with-circle: "\e90d";
$icon-twitter: "\e90e";
$icon-cancel: "\ea0f";
$icon-facebook: "\ea90";
$icon-linkedin: "\eaca";

