.border-left {
    @include bp-md {
        border-left: 1px solid $stroke;
    }
}

.border-right {
   @include bp-md {
       border-right: 1px solid $stroke;
   }
}

.bg-blur {
    filter: blur(12px);

    &.image-edge--bg {
        position: absolute;
    }
}

.bg-overlay {
    position: relative;

    &:before {
        content: '';
        z-index: 1;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($black, 0.4);
    }
}

.label--gated {
    color: $red;
    margin-left: 8px;

    &:before {
        content: "\e902";
        font-family: 'icomoon';
        margin-right: 4px;
    }

    .text-white & {
        color: white;
    }
}

// Size Utilities
$sizes: 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 136, 152,
    168, 184, 200, -8, -16, -24, -32, -40, -48, -56, -64, -72, -80, -88, -96,
    -104, -112, -120, -136, -152, -168, -184, -200;

@each $size in $sizes {
    .p-t-#{$size} {
        padding-top: #{$size}px !important;
    }

    .p-b-#{$size} {
        padding-bottom: #{$size}px;
    }

    .p-l-#{$size} {
        padding-left: #{$size}px;
    }

    .p-r-#{$size} {
        padding-right: #{$size}px;
    }

    .m-t-#{$size} {
        margin-top: #{$size}px;
    }

    .m-b-#{$size} {
        margin-bottom: #{$size}px;
    }

    .sm-p-t-#{$size} {
        @include bp-sm {
            padding-top: #{$size}px !important;
        }
    }

    .sm-p-b-#{$size} {
        @include bp-sm {
            padding-bottom: #{$size}px;
        }
    }

    .sm-p-l-#{$size} {
        padding-left: #{$size}px;
    }

    .sm-p-r-#{$size} {
        padding-right: #{$size}px;
    }

    .sm-m-t-#{$size} {
        @include bp-sm {
            margin-top: #{$size}px;
        }
    }

    .sm-m-b-#{$size} {
        @include bp-sm {
            margin-bottom: #{$size}px;
        }
    }
    // Medium
    .md-p-t-#{$size} {
        @include bp-md {
            padding-top: #{$size}px !important;
        }
    }

    .md-p-b-#{$size} {
        @include bp-md {
            padding-bottom: #{$size}px;
        }
    }

    .md-p-l-#{$size} {
        padding-left: #{$size}px;
    }

    .md-p-r-#{$size} {
        padding-right: #{$size}px;
    }

    .md-m-t-#{$size} {
        @include bp-md {
            margin-top: #{$size}px;
        }
    }

    .md-m-b-#{$size} {
        @include bp-md {
            margin-bottom: #{$size}px;
        }
    }

    // Large
    .lg-p-t-#{$size} {
        @include bp-lg {
            padding-top: #{$size}px !important;
        }
    }

    .lg-p-b-#{$size} {
        @include bp-lg {
            padding-bottom: #{$size}px;
        }
    }

    .lg-p-l-#{$size} {
        padding-left: #{$size}px;
    }

    .lg-p-r-#{$size} {
        padding-right: #{$size}px;
    }

    .lg-m-t-#{$size} {
        @include bp-lg {
            margin-top: #{$size}px;
        }
    }

    .lg-m-b-#{$size} {
        @include bp-lg {
            margin-bottom: #{$size}px;
        }
    }

    // X Large
    .xl-p-t-#{$size} {
        @include bp-xl {
            padding-top: #{$size}px !important;
        }
    }

    .xl-p-b-#{$size} {
        @include bp-xl {
            padding-bottom: #{$size}px;
        }
    }

    .xl-p-l-#{$size} {
        padding-left: #{$size}px;
    }

    .xl-p-r-#{$size} {
        padding-right: #{$size}px;
    }

    .xl-m-t-#{$size} {
        @include bp-xl {
            margin-top: #{$size}px;
        }
    }

    .xl-m-b-#{$size} {
        @include bp-xl {
            margin-bottom: #{$size}px;
        }
    }
}

// Background images stretching to the viewport width. Add to a containing section element
.image-edge {
    position: relative;
    overflow: hidden;

    &--bg {
        // the row that holds a column with a background image
        margin: 0;
        height: 100%;
        top: 0;
        left: 0;
        width: 100%;

        @include bp-md {
            display: flex;
            position: absolute;
            min-height: 0; // inherit height from content element
        }

        [class^='vc_col-has-fill'],
        [class*=' vc_col-has-fill'] {
            // the inner column with a background-image set
            height: 100%;
            min-height: 300px;
            background-size: cover;
            background-position: center;
        }
    }
}

.image-modal {
    margin: 0;
    position: relative;

    &:after {
        content: '';
        width: 70px;
        height: 70px;
        background-image: url(../../images/lightbox.svg);
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
    }

    &.img-cover {
        img {
            min-width: 100%;
            width: auto;
            transform: unset;
            bottom: 0;
            top: auto;
            left: 0;
            height: 350px;
            object-fit: cover;
        }
    }

    &--sm {
        &:after {
            width: 48px;
            height: 48px;
            top: auto;
            bottom: 20px;
        }
    }
}

// Stretch an image to it's container
.image-full-width {
    figure {
        width: 100% !important;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 300px;
        display: block;

        @include bp-md {
            height: 600px;
        }
    }

    + .vc_row {
        [class^="vc_col"], [class*=" vc_col"] {
            min-height: unset;
        }
    }
}