@media print {
	h1,	h2,	h3,	h4,	h5,	h6 {
		page-break-after: avoid; // Prevent headings from being printed at the bottom of the page
	}
	img {
	    page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
	    page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
		page-break-inside: avoid; /* or 'auto' */
	}
	.img-circle {
		border-radius: 0;

		img {
			clip-path: none;
		}
	}
	.list-item--user {
		.list-item__image {
			width: 100%;
		}
		img {
			max-height: 150px;
		}
	}
	.reveal {
		opacity: 1;
	}
	.no-print {
		display: none;
	}
	.text-white, h1, h2, h3, h4, h5, h6, p, span {
		color: #000 !important;
	}
	a {
		color: $highlight !important;
	}
	.full-width {
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding-left: 0;
		padding-right: 0;
	}

	.vc_toggle_content,
	.vc_row.vc_row-flex {
		display: block;
		overflow: hidden;
	}

	.img-cover, .img-circle, .img-contain {
		&:before {
			display: none !important;
		}
		img {
			position: relative !important;
			width: auto !important;
			height: auto !important;
		    transform: translate(0) !important;
			left: 0;
		}
		.content {
			position: relative !important;
		}
	}
	header.banner {
		position: relative !important;
	}
	header.banner svg path {
		fill: #000 !important;
	}
	.masthead {
		position: relative;
		display: block !important;
		min-height: 0;
		padding: 100px 0 50px !important;
		
		&__image {
			min-height: 0;
		}
	}

	.promo-box--tall {
		display: block;

		> .wpb_column {
			width: 25%;
			float: left;

			.column {
				position: static !important;
				transform: none !important;
				bottom: 0 !important;
			}
		}
	}

	.vc_col-sm-4 {
		width: 33.33%;
		float: left;
	}

	.vc_col-sm-6 {
		width: 50%;
		float: left;
	}

	.related-content,
	.list-wrap {
		display: block;
		overflow: hidden;

		.row {
			display: block;
			overflow: hidden;
		}

		article.column {
			float: left;
			display: block;
			width: 33.33%;
		}
	}

	.row.list-item--search {
		display: block;
		overflow: hidden;

		.column {
			float: left;
			display: block;
			
			&.md-67 {
				width: 67%;
			}

			&.md-33 {
				width: 33%;
			}
		}
	}
}
