.masthead {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 24px; // height of .header
    margin-top: 75px;

    @include bp-lg {
        margin-top: 106px; // height of .header
        padding-top: 100px;
        padding-bottom: 50px;
    }

    &__subheadline {
        @extend .h5;
    }

    &__image {
        min-height: 200px;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        margin-bottom: 22px;
        background-size: cover;


        @include bp-md {
            min-height: 300px;
            margin-bottom: 0;
        }

        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(45deg,
                    rgba($steelblue, 1),
                    rgba($steelblue, 0));
        }

        .template-blank-masthead & {
            &:before {
                display: none;
            }
        }
    }

    // Triangle overlay
    &__decor {
        position: absolute;
        width: 50%;
        height: 100%;
        max-width: 500px;
        top: 0;
        left: 0;

        // animate
        transform: translateY(-115%);
        animation: slideright 1.2s ease 0.75s alternate 1 forwards;

        polygon {
            fill: rgba($teal, 0.7);
        }

        svg {
            max-width: 100vw;
            height: auto;
        }

        &.bg-red {
            polygon {
                fill: rgba($red, 0.7);
            }
        }

        &.bg-lightblue {
            polygon {
                fill: rgba($lightblue, 0.7);
            }
        }

        &.bg-gray {
            polygon {
                fill: rgba($gray, 0.7);
            }
        }

        &.bg-steelblue {
            polygon {
                fill: rgba($steelblue, 0.7);
            }
        }

        @include bp-md {
            width: 33%;
            height: 140%;
        }

    }

    // If background image is set
    &--background {
        overflow: visible;
        flex-direction: column;
        padding-top: 150px;
        padding-bottom: 150px;

        .masthead__headline,
        .masthead__subheadline {
            color: white;
        }

        @include bp-lg {
            padding-top: 320px;
            padding-bottom: 100px;
        }

        @media screen and (max-height: 800px) and (min-width: $breakpoint-lg) {
            padding-top: 120px;
        }

        .template-blank-masthead & {
            padding-bottom: 0;
            justify-content: end;

            @include bp-lg {
                min-height: 600px;
            }
        }
    }

    // Top level pages
    &--top-level {
        text-align: center;
        padding-top: 50px;

        @include bp-md {
            padding-bottom: 0;
            padding-top: 70px;
        }

        &.masthead--background {
            padding-top: 100px;
            padding-bottom: 20px;

            .masthead {
                &__content {
                    @include bp-md {}
                }
            }

            .row {
                @include bp-md {}
            }
        }

        .masthead {
            &__headline {
                color: $teal;
                position: relative;
                text-transform: uppercase;
                line-height: pxtorem(28px);
                @include font-size(20px);

                &.text-red {
                    color: $red;
                }

                &.text-lightblue {
                    color: $lightblue;
                }

                &.text-gray {
                    color: $gray;
                }

                &.text-steelblue {
                    color: $steelblue;
                }
            }

            &__content {
                .row {
                    justify-content: center;
                }
            }
        }
    }

    &__overlay {
        position: absolute;
        // negative margins to retain sharp edges
        $blur: 10px;
        top: -$blur;
        bottom: -$blur;
        left: -$blur;
        right: -$blur;
        opacity: 1;
        background-position: center;
        background-size: cover;
        transition: opacity 1.5s linear;
        background-color: $steelblue;
        filter: blur($blur);

        &.fade-out {
            // JS class added after full size image is loaded
            opacity: 0;
        }
    }

    .single-wpdmpro & {
        padding-bottom: 0;
    }
}

/**
 * No Masthead & Scrolled
 */
.no-masthead header.banner,
.scroll-triggered header.banner {
    background-color: #fff;

    a,
    #header-search form.searchform input[type='text'] {
        color: $text2;
    }

    #header-search form.searchform input[type='text'] {
        &::-webkit-input-placeholder {
            color: $text2;
        }

        &:-ms-input-placeholder {
            color: $text2;
        }

        &::placeholder {
            color: $text2;
        }
    }

    .brand svg path {
        fill: initial;
    }
}

.no-masthead {
    .wrap.container {
        padding-top: 100px;
    }
}

/**
* Journal Masthead
*/
.single-journals,
.page.insights,
.post-type-archive-journals,
.job-board {
    .masthead--background {
        padding-top: 80px;

        .masthead__decor {
            display: none;
        }
    }

    .masthead__navigation {
        @include bp-md {
            z-index: 1;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        ul {
            list-style: none;
            margin: 0 0 19px 0;
            padding: 0;

            li {
                display: inline;
                padding: 0 10px;

                &:first-child {
                    padding-left: 0;
                }

                a {
                    color: white;
                    position: relative;
                    padding-bottom: 20px;
                    font-weight: bold;

                    &:after {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 5px;
                        background-color: #EE5031;
                        bottom: 10px;
                        left: 0;
                        opacity: 0;
                        transition: opacity .25s, bottom .25s;
                    }

                    &:hover {
                        &:after {
                            bottom: 0;
                            opacity: 1;
                            transition: opacity .25s, bottom .25s;
                        }
                    }
                }
            }
        }

        .journal-select {
            color: white;

            .select_wrapper {
                position: relative;

                @include bp-md {
                    &:after {
                        position: absolute;
                        width: 90%;
                        height: 1px;
                        background-color: #fff;
                        bottom: -52px;
                        content: "";
                        margin: 0 20px;
                    }
                }
            }


            select {
                padding: 20px;
                margin-right: 20px;
                background-color: $red;
                color: white;
                width: 100%;
                border: 0;
                font-weight: bold;
                background-image: url('data: image/svg+xml;utf8,<svg width="14px" height="10px" viewBox="0 0 14 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Designs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="4.0-News" transform="translate(-265.000000, -211.000000)" fill="%23FFFFFF"> <polygon id="Triangle-2-Copy-10" transform="translate(272.000000, 216.000000) rotate(-270.000000) translate(-272.000000, -216.000000)" points="277 216 267 223 267 209"></polygon> </g> </g> </svg>');
                background-position: right 20px center;

                @include bp-md {
                    position: absolute;
                    border-bottom: 1px solid #fff;
                }
            }
        }
    }
}

.page.insights,
.job-board {
    .masthead__image {
        &:before {
            display: none;
        }
    }

    .masthead__headline,
    .masthead__subheadline {
        color: black;
    }

    .masthead__navigation {
        ul {
            @include bp-md {
                transform: translateY(32px);
            }

            li {
                a {
                    color: black;
                }
            }
        }
    }
}

.post-type-archive-journals {
    .breadcrumbs {
        display: none;
    }
}