.wrap {
    min-height: 50vh;
    padding-top: 40px;

    .resources &,
    .news &,
    .post-type-archive &,
    .author &,
    {
    margin-top: 50px; // height of .header

    @include bp-lg {
        margin-top: 150px;
    }
}

.error404 & {
    padding-top: 60px;
    padding-bottom: 60px;
}

.single-post &,
.single-resource &,
.single-tribe_events &,
.resources &,
.grants-management-professional-competency-model & {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.home & {
    margin-top: 25px;

    @include bp-lg {
        margin-top: 106px;
    }
}
}

.insights {
    .wrap {
        padding-top: 100px;
    }
}

#tribe-events-pg-template {
    max-width: 100%;

    .tribe-events-content {
        h1 {
            @extend .h1;
        }

        h2 {
            @extend .h2;
        }

        h3 {
            @extend .h3;
        }

        h4 {
            @extend .h4;
        }

        h5 {
            @extend .h5;
        }

        h6 {
            @extend .h6;
        }
    }
}

.tribe-events-nav-pagination {

    #tribe-events-header & {
        display: none;
    }

    [class*="tribe-events-nav-"],
    [class^="tribe-events-nav-"] {
        .icon {
            &:before {
                @include font-size(14px);
            }
        }
    }
}

/**
 * Search & 404
 */
.search-results-top {
    align-items: center;
    margin-bottom: 30px;

    h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.no-js {
    .search-results-top {
        form {
            flex-direction: row;
        }
    }
}

.search-result {
    border-top: 1px solid $stroke;
    padding-top: 30px;

    [class^="col-"] {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .wp-post-image {
        margin-bottom: 35px;
    }
}


// Video player
.home-intro-slide-video-bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $steelblue;

    @include bp-md {
        height: 75vh;
        min-height: 650px;
    }

    .video-js {
        position: static;
    }

    video {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @supports (-ms-ime-align: auto) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
        }

        @media screen and (-ms-high-contrast: none) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
        }
    }

    &::before {
        content: '';
        display: block;
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: opacity 0.6s ease-out 1s;
        background-color: $steelblue;
    }

    &::after {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($steelblue, 0.5);
    }

    &.playing {
        &:before {
            opacity: 0;
        }
    }
}


// iframe
.homepage-video {
    max-width: unset;
    background-color: $black;
    position: absolute;
    /* compute width based on aspect ratio and vh. */
    width: 100%;
    width: calc(115vh * (16 / 9));
    /* assumes 16:9 */
    height: 115vh;
    /* moves the video's left edge halfway across the containing element */
    left: 50%;
    top: 50%;
    /* pulls the video back by half its own width, effectively centering it */
    transform: translate(-50%, -50%);
}

/* Media query here for when viewport is wider than the video's aspect ratio
* can accommodate assuming full height.
*/
@media (min-aspect-ratio: 16/9) {

    /* assumes 16:9 */
    .homepage-video {
        /* we now set width to be full */
        width: 115vw;
        /* and calculate height based on vw instead */
        height: calc(115vw * (9 / 16));
        /* assumes 16:9 */
    }
}

.page-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #fff;

    .no-js & {
        display: none;
    }
}

/*
 * Insights
 */
.insight-journal {
    background: #EBEBEB;
}

.about-this-issue {
    position: relative;
    z-index: 0;
    padding-top: 60px;
    padding-bottom: 40px;

    .row {
        align-items: center;
    }

    .insight-journal & {
        margin-bottom: 0;
    }

    .journal-issue {
        a {
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

.more-journals {
    color: #fff;
    position: relative;
    z-index: 0;
    background-color: $black;

    a,
    h3 {
        color: #fff;
    }

    .more-journals-content {
        .journal-issue-number {
            font-weight: 800;
        }

        .list-item__title {
            @extend h4;
            color: white;
        }

        &__btn {
            border-color: white;
            @include font-size(24px);

            .icon {
                display: inline-block;
                margin-left: 20px;
                transform: translate(0, -50%);

                &:before {
                    margin-top: -3px;
                    display: inline-block;
                }
            }

            &:hover,
            &:focus {
                color: $burntred;
                background-color: white;

                .icon {
                    animation: bounceLeft 1.5s infinite;
                }
            }
        }
    }
}