// Include Single Post page styles and list item styles
html {
    overflow-x: hidden;
}

.single-journals {
    overflow-x: hidden;

    #main-content {
        padding: 0;
        max-width: 100%;
    }
}

article {

    &.resource,
    &.post,
    &.tribe_events:not(.tribe-events-calendar-list__event),
    &.journals {
        margin-top: 50px;

        @include bp-md {
            margin-top: 100px; // height of .header
        }

        @include bp-lg {
            margin-top: 100px; // height of .header
        }

        footer {
            clear: both;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }

    &.journals {
        margin-top: 0;
        padding: 0;
    }
}

.post {
    &__header {
        .resource & {
            margin-top: 30px;
            margin-bottom: 30px;

            @include bp-md {
                margin-top: 0;
            }
        }
    }

    &__label {
        font-family: $font2;
        text-transform: uppercase;
        @include font-size(20px);

        .post & {
            color: $red;
            margin-bottom: 0;
        }

        .resource & {
            color: $teal;
        }

        .tribe_events & {
            a {
                color: $lightblue;

                &:hover,
                &:focus {
                    color: $steelblue;
                }
            }
        }
    }

    &__sidebar {
        margin-bottom: 16px;
    }

    &__access {
        color: $red;
    }

    &__title {
        margin-bottom: 50px;
    }

    &__image {
        margin-bottom: 24px;
        text-align: center;

        .resource & {
            @include bp-lg {
                padding-right: 33px;
            }

            img {
                border: 1px solid $coolgray;
            }
        }
    }

    &__content {
        a:not(.btn) {
            text-decoration: underline;
            word-break: break-word;
        }
    }

    &__footer {
        .column {
            @include bp-md {
                display: flex;
                align-items: center;
            }
        }

        .resource & {
            display: block;
            padding: 20px;
            background-color: $warmgray;

            .column {
                align-items: flex-start;
            }

            @include bp-lg {
                display: flex;
            }
        }
    }

    &__meta {
        text-align: center;

        @include bp-md {
            display: flex;
            text-align: inherit;
        }

        .resource & {
            @include bp-md {
                margin-right: 26px;
                margin-bottom: 26px;
                flex-wrap: wrap;
                flex-direction: column-reverse;
            }
        }
    }

    &__date {
        @include bp-md {
            margin-right: 25px;
            margin-bottom: 0;
        }

        .resource & {
            margin-top: 25px;
            @include font-size(18px);
        }
    }

    &__categories {
        color: $steelblue;

        a {
            text-decoration: underline;
        }

        @include bp-md {
            margin-bottom: 0;
        }

        .resource & {
            // color: $gray;
            margin-bottom: 5px;
        }
    }

    &__share {
        color: $steelblue;
        text-align: center;

        @include bp-md {
            flex-grow: 1;
            display: flex;
            align-items: center;
            text-align: inherit;
            /*justify-content: flex-end;*/

            p {
                margin-bottom: 0;
            }
        }

        .social-links {
            @include bp-md {
                margin-left: 25px;

                li {
                    margin-bottom: 0;
                }
            }

            .icon:before {
                color: white;
            }
        }
    }
}

.single:not(.single-resource):not(.single-tribe_events):not(.single-wpdmpro) {
    @include bp-xxl {
        article.container {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .post {
        &__header {

            @include bp-lg {
                display: flex;
            }

            .header_content {
                @include bp-lg {
                    flex-basis: 67%;
                    flex-grow: 1;
                    z-index: 1;
                    margin-right: -10%;
                    margin-top: 35px;
                }

                @include bp-xl {
                    flex-basis: 50%;
                }

                .top_header {
                    padding: 25px;
                    background: #ebebeb;
                    height: -moz-fit-content;
                    height: fit-content;
                }

                .top_excerpt {
                    padding: 25px;
                    padding-right: 200px;

                    p {
                        font-weight: 500;
                    }

                }
            }
        }

        &__title {
            margin-bottom: 15px;
            font-size: 36px;
            line-height: 1.2em;
            margin-top: 16px;
        }

        &__author {
            margin-bottom: 0;
            font-weight: bold;
        }

        &__image {
            flex-shrink: 1;
        }

        &__content {
            padding-top: 50px;

            @include bp-md {
                padding-right: 70px;
            }
        }

        &__navigation {
            margin-top: 50px;
            padding: 20px 0;
            width: 100%;

            .nav-links {
                font-size: 1.3em;
                font-weight: 600;
                display: flex;
                flex-wrap: wrap;
                gap: 24px;
                justify-content: center;
                padding-left: 16px;
                padding-right: 16px;

                @include bp-md {
                    padding-left: 0;
                    padding-right: 0;
                    justify-content: space-between;
                }

                a {
                    color: black;

                    i,
                    svg {
                        color: #55bfc3;
                    }

                    &:hover,
                    &:focus {
                        text-decoration: underline;
                    }
                }

                .nav-next,
                .nav-previous {
                    @include bp-md {
                        width: 45%;
                    }
                }

                .nav-previous {
                    i {
                        margin-left: -17px;
                    }
                }

                .nav-next {
                    @include bp-md {
                        text-align: right;
                    }

                }
            }
        }

        &__footer {
            margin-top: 30px;
            padding-top: 30px;
            border-top: 5px solid #ebebeb;
        }

        &__sidebar__content {
            background: #ebebeb;
            padding: 50px 36px 20px 36px;

            h6 {
                position: relative;
                @include fluid-value(font-size, 16px, 30px);

                line-height: 1.25em;

                &:first-child {
                    margin-top: 0;
                }

                margin-top:50px;
                margin-bottom:5px;


                &:after {
                    position: absolute;
                    content: "";
                    left: -35px;
                    top: 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 12.5px 0 12.5px 21.7px;
                    border-color: transparent transparent transparent #55bfc3;
                }
            }

            .promo {
                padding: 0 10px 50px;
                position: relative;
                margin-bottom: 2rem;

                .promo__icon {
                    background: url('data: image/svg+xml;utf8,<svg width="176px" height="92px" viewBox="0 0 176 92" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Stay-Connected" transform="translate(-711.000000, 0.000000)" fill="%23EBEBEB" fill-rule="nonzero"><polygon id="Triangle" transform="translate(799.000000, 46.000000) rotate(-180.000000) translate(-799.000000, -46.000000) " points="799 -1.42108547e-14 887 92 711 92"></polygon></g></g></svg>') no-repeat;
                    background-size: 50%;
                    background-position: top center;
                    margin-bottom: 0;
                    position: relative;
                    padding: 0 57px 35px;
                }

                .h2 {
                    font-size: 24px;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                }

                .btn {
                    position: absolute;
                    bottom: -20px;
                    width: 160px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    background-color: #ec5139;
                    color: #fff;
                    padding: 5px 5px;
                }
            }


            .promo__star {
                position: relative;
                margin-top: -20px;

                display: none;
                width: 0;
                height: 0;

                margin-left: .9em;
                margin-right: .9em;
                margin-bottom: 1em;

                border-right: .3em solid transparent;
                border-bottom: .7em solid #ec5139;
                border-left: .3em solid transparent;

                /* Controlls the size of the stars. */
                font-size: 24px;

                &:before,
                &:after {
                    content: '';

                    display: none;
                    width: 0;
                    height: 0;

                    position: absolute;
                    top: .6em;
                    left: -1em;

                    border-right: 1em solid transparent;
                    border-bottom: .7em solid #ec5139;
                    border-left: 1em solid transparent;

                    transform: rotate(-35deg);
                }

                &:after {
                    transform: rotate(35deg);
                }
            }
        }
    }
}